<div id="page-landing">
    <section class="welcome">
        <header>
            <h1>The Buying Catalogue</h1>
            <hr>
            <p>More choices, better patient outcomes</p>
        </header>
    </section>

    <section class="search">
        <header>
            <h2>Research</h2>
        </header>
        {{! search_form|crispy }}
        <button class="primary">Search</button>
    </section>

    <section class="buying">
        <header>
            <h2>Buying</h2>
        </header>
        <a href="/oidc/authenticate" class="button primary">Log in / Register</a>
        <p><a href="#">Forgotten Password</a></p>
        <p><a href="#" class="text-center">Create account</a></p>
    </section>
</div>
