<div id="page-landing">
    <section class="welcome">
        <header>
            <h1>
                <span style="color: #231f20">Blu</span><span style="color: #005eb8e">e</span>
                <span style="color: #005eb8e">Marketplace</span>
            </h1>
            <hr>
            <p>More choices, better patient outcomes</p>
        </header>
    </section>

    <section class="search">
        <header>
            <h2>Research</h2>
        </header>
        {{! search_form|crispy }}
        <button class="primary">Search</button>
    </section>

    <section class="buying">
        <header>
            <h2>Buying</h2>
        </header>
        <a href="/oidc/authenticate" class="button primary">Log in / Register</a>
        <p><a href="/oidc/authenticate" class="text-center">Create account</a></p>
    </section>
</div>
