@import 'fonts.css';
@import 'palette.css';
@import 'layout.css';
@import 'controls.css';

html,
body,
header,
img {
  margin: 0;
  width: 100%;
}

#content {
  width: 60em;
  margin: auto;
}

a {
  text-decoration: none;
}

nav ul,
nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 2em;
}

nav.backlink {
  margin-top: 0.5em;
}

nav.backlink a {
  color: var(--color-breadcrumbs-fg);
  font-size: var(--font-size-breadcrumbs);
  font-weight: var(--font-weight-breadcrumbs);
}

nav.backlink a .title {
  font-weight: var(--font-weight-breadcrumbs-bold);
}

.logout > a,
.login > a,
.user > a {
  color:#425563 !important;
}

#save-nav {
  display: block;
  position: static;
  background-color: var(--color-nhs-blue);
  text-align: right;
  padding:0.5em;
  padding-right: 1em;
  padding-left: 1em;
  z-index: 3;
}

#save-nav > div a, #save-nav .nav-item{
  color: var(--color-nhs-white);
}

#save-nav > div a.button, #save-nav button {
  background-color: var(--color-nhs-white);
  color: var(--color-nhs-dark-blue);
  font-weight: bold;
  border: 1px solid var(--color-nhs-white);
  padding: 0.25em 0.75em;
  border-radius: 4px;
}

#save-nav > div a.button:hover, #save-nav button:hover{
  background-color: var(--color-nhs-pale-grey);
  cursor: pointer;
}


#save-nav div.links {
  display: flex;
  justify-content: space-around;
}

#save-nav div.left, #save-nav div.right {
  display: flex;
}

#save-nav .nav-item {
  padding: 0.25em;
}

#save-nav.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

#save-nav-wrapper {
}