/* The NHS Colour Palette */
:root {
  --color-nhs-dark-blue: #003087;
  --color-nhs-blue: #005eb8;
  --color-nhs-light-blue: #41b6e6;

  --color-nhs-dark-green: #006747;

  --color-nhs-dark-grey: #425563;
  --color-nhs-mid-grey: #768692;
  --color-nhs-pale-grey: #e8edee;

  --color-nhs-warm-yellow: #ffb81c;
  --color-nhs-yellow: #fae100;

  --color-nhs-dark-red: #8a1538;
  --color-nhs-mid-pink: #fadddd;

  --color-nhs-black: #231f20;
  --color-nhs-white: #ffffff;
}

/* Abstract applied colour palette */
:root {
  --color-bg: var(--color-nhs-white);
  --color-fg: var(--color-nhs-black);

  --color-heading: var(--color-nhs-blue);
  --color-heading-small: var(--color-nhs-mid-grey);

  --color-link-fg: var(--color-nhs-blue);
  --color-button-bg: var(--color-nhs-blue);
  --color-button-fg: var(--color-nhs-white);
  --color-button-disabled-fg: #cbcfcf;
  --color-button-disabled-bg: #52779b;
  --color-button-primary-bg: var(--color-nhs-dark-green);
  --color-button-primary-fg: var(--color-nhs-white);
  --color-button-primary-disabled-bg: #527b6e;
  --color-button-primary-disabled-fg: #cbcfcf;
  --color-button-active-shadow: var(--color-nhs-mid-grey);

  --color-input-border: var(--color-nhs-mid-grey);
  --color-input-val-error: var(--color-nhs-dark-red);

  --color-progress-text-fg: var(--color-nhs-light-blue);
  --color-progress-current-fg: var(--color-nhs-white);
  --color-progress-current-bg: var(--color-nhs-blue);
  --color-progress-current-border: var(--color-blue);
  --color-progress-future-fg: var(--color-nhs-light-blue);
  --color-progress-future-bg: var(--color-nhs-white);
  --color-progress-future-border: var(--color-nhs-light-blue);

  --color-contact-form-bg: var(--color-nhs-pale-grey);
  --color-contact-form-fg: var(--color-nhs-black);

  --color-capability-bg: var(--color-nhs-white);
  --color-capability-fg: var(--color-nhs-blue);
  --color-capability-border: var(--color-nhs-blue);
  --color-capability-shadow: var(--color-nhs-pale-grey);
  --color-capability-hover-bg: var(--color-nhs-blue);
  --color-capability-hover-fg: var(--color-nhs-white);

  --color-help-fg: var(--color-nhs-dark-grey);

  --color-standout-bg: var(--color-nhs-pale-grey);
  --color-standout-fg: var(--color-nhs-black);

  --color-message-bg: var(--color-nhs-pale-grey);
  --color-message-fg: var(--color-nhs-black);

  --color-message-nhsd-bg: var(--color-nhs-mid-pink);
  --color-message-nhsd-fg: var(--color-nhs-black);

  --color-errors-bg: var(--color-nhs-mid-pink);
  --color-errors-fg: var(--color-nhs-dark-red);

  --color-breadcrumbs-fg: var(--color-nhs-blue);

  --color-notification-banner-bg: var(--color-nhs-yellow);
  --color-notification-banner-fg: var(--color-nhs-black);
}

/* Concrete applied colour palette */
html,
body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}
