{{> errors}}

<header class="page-main-heading">
  <h1>{{ claim.standard.name }}</h1>
  <p>{{t 'CompliancePages.Evidence.Subtitle'}}</p>
</header>

{{#each (tt 'CompliancePages.Evidence.Preamble')}}
<p class="preamble">{{{.}}}</p>
{{/each}}

<details class="quick-links">
  <summary>{{t 'CompliancePages.Evidence.QuickLinks.Heading'}}</summary>
  <ul>
    <li><a href="{{claim.standard.url}}" target="_blank">{{claim.standard.name}}</a></li>
    {{#claim.capabilities}}
    <li><a href="{{url}}" target="_blank">{{name}}</a></li>
    {{/claim.capabilities}}
  </ul>
</details>

{{#if claim.submissionHistory}}
  <section class="history">
    {{#claim.submissionHistory}}
    <div class="message">
      <p class="text">{{message}}</p>
      <p class="meta">
        <span class="from">
        {{#with (lookup ../claim.historyContacts createdById)}}
          {{firstName}} {{lastName}}
        {{/with}}
        </span>
        <span class="when">{{createdOn}}</span>
      </p>
    </div>
    {{/claim.submissionHistory}}
  </section>
{{/if}}

{{#if latestFile}}
  <section class="current-file">
    <h3>{{t 'CompliancePages.Evidence.CurrentFile.Heading'}}</h3>
    <p class="callout">
      <a href="{{latestFile.downloadURL}}">{{latestFile.name}}</a>
    </p>
  </section>

  <section class="upload-and-reply">
    <h3>{{t 'CompliancePages.Evidence.Reply.Heading'}}</h3>
    {{#>form encoding="multipart/form-data"}}
      <fieldset class="callout">
        <input type="file" name="matrix-file">
        <button type="submit">{{t 'CompliancePages.Evidence.Buttons.Upload'}}</button>
      </fieldset>
    {{/form}}
  </section>
{{else}}
  <div>
    {{#each (tt 'CompliancePages.Evidence.CurrentFile.Missing')}}
    <p>{{{.}}}</p>
    {{/each}}
  </div>
{{/if}}

<a class="back-link" href="../../">{{t 'CompliancePages.Evidence.Backlink.Title'}}</a>
