{{> errors}}

<header class="page-main-heading">
  <h1>{{t 'CompliancePages.Dashboard.Title' }}</h1>
  <h2>{{t 'CompliancePages.Dashboard.Subtitle'}}</h2>
</header>

<h3>{{t 'CompliancePages.Dashboard.Associated.Heading'}}</h3>

{{#> help-reveal title='CompliancePages.Dashboard.Associated.Help.Title'}}
  {{t 'CompliancePages.Dashboard.Associated.Help.Text'}}
{{/help-reveal}}

{{#*inline "standard-row"}}
<tr class="standard {{statusClass}}">
  <td class="name"><a href="{{continueUrl}}">{{name}}</a></td>
  <td class="status">{{t statusTransKey when=statusChangeDate}}</td>
  <td class="owner">{{t 'CompliancePages.Dashboard.Standard.With' name=ownerContact.displayName}}</td>
</tr>
{{/inline}}

<table class="standards">
  <tbody>
    {{#solution.standards}}
    {{#unless isOverarching}}
    {{> standard-row}}
    {{/unless}}
    {{/solution.standards}}
  </tbody>
</table>

<h3>{{t 'CompliancePages.Dashboard.Overarching.Heading'}}</h3>

{{#> help-reveal title='CompliancePages.Dashboard.Overarching.Help.Title'}}
  {{t 'CompliancePages.Dashboard.Overarching.Help.Text'}}
{{/help-reveal}}

<table class="standards">
  <tbody>
  {{#solution.standards}}
  {{#if isOverarching}}
  {{> standard-row}}
  {{/if}}
  {{/solution.standards}}
  </tbody>
</table>
