{{> errors}}

<header class="page-main-heading">
  <h1>{{t 'CompliancePages.Dashboard.Title' }}</h1>
  <h2>{{t 'CompliancePages.Dashboard.Subtitle'}}</h2>
</header>

<h3>{{t 'CompliancePages.Dashboard.Associated.Heading'}}</h3>

{{#> help-reveal title='CompliancePages.Dashboard.Associated.Help.Title'}}
  {{t 'CompliancePages.Dashboard.Associated.Help.Text'}}
{{/help-reveal}}

<ul>
  {{#solution.standards}}
  {{#unless isOverarching}}
  <li><a href="{{continueUrl}}">{{name}}</a></li>
  {{/unless}}
  {{/solution.standards}}
</ul>

<h3>{{t 'CompliancePages.Dashboard.Overarching.Heading'}}</h3>

{{#> help-reveal title='CompliancePages.Dashboard.Overarching.Help.Title'}}
  {{t 'CompliancePages.Dashboard.Overarching.Help.Text'}}
{{/help-reveal}}

<ul>
  {{#solution.standards}}
  {{#if isOverarching}}
  <li><a href="{{continueUrl}}">{{name}}</a></li>
  {{/if}}
  {{/solution.standards}}
</ul>
