<div class="solution-page-form">
    {{#> build-form-page
        section-title="About"
        section-clarification="What should buyers of your solution know about the supplier?"
    }}
        {{> text-area-fieldset
            form-title="Solution Summary"
            title-clarification="Your Summary description will be displayed on your Solution page and in search results, but it will not affect search ranking."
            field-length=300
            example-text="What should buyers know about the supplier of this solution?"
            
        }}
    {{/build-form-page}}
</div>