
<div id="my-solutions-page">
  <h1>My Solutions</h1>
  <p>Welcome, {{user.contact.firstName}}. Here you can add a new Solution and manage all your Solutions — both those in progress and published.</p>
  <a id="add-new-solution" class="submit-button" href="{{addUrl}}">Add a new solution</a>
</div>

<section id="solutions-onboarding">
<h2>Onboarding in Progress</h2>
{{#if solutions.onboarding}}
<table>
  <thead>
    <tr>
      <th class="white-right-border">Name | Version</th>
      <th>Current Stage</th>
      <th>Stage no.</th>
      <th class="white-right-border">Status</th>
      <th>Notifications</th>
    </tr>
  </thead>
  <tbody>
    {{#solutions.onboarding}}
    <tr>
      <td><a href="{{url}}">{{displayName}}</a></td>
      <td>{{stageName}}</td>
      <td>{{stageStep}}</td>
      <td>{{status}}</td>
      <td>{{>notification}}</td>
    </tr>
    {{/solutions.onboarding}}
  </tbody>
</table>
{{else}} 
 <p>You don’t have any Solutions in progress. <a href="{{addUrl}}">Add a new solution</a> to get started.</p>
{{/if}}
</section>

<section id="solutions-live">
<h2>Published</h2>
{{#if solutions.live}}
<table>
  <thead>
    <tr>
      <th class="white-right-border">Name | Version</th>
      <th>Status</th>
      <th class="white-right-border">Contracts Signed</th>
      <th>Notifications</th>
    </tr>
  </thead>
  <tbody>
    {{#solutions.live}}
    <tr>
      <td><a href="{{url}}">{{displayName}}</a></td>
      <td>{{status}}</td>
      <td>{{contractCount}}</td>
      <td></td>
    </tr>
    {{/solutions.live}}
  </tbody>
</table>
{{else}}
  <p>You don’t have any published Solutions. Once you have completed all four stages of Adding a Solution, your published Solutions will show here.</p>
{{/if}}
</section>
