<form method="POST">
    <fieldset>
        <!-- <label>
            <input type="radio" name="wantThese" value="yes">
            Yes
        </label>
        <label>
            <input type="radio" name="wantThese" value="no">
            No
        </label> -->
        <div class="array-input">
            {{#if errors}}
                <div>
                    {{errors}}
                </div>
            {{/if}}
            <h3>Add {{item-name}}</h3>
            <p class="clarification">{{item-clarification}}</p>
            <div>
                <input id="first-input-element" type="text" name="items" placeholder={{example-item}}>
                {{# existingData}}
                    <input type="text" name="items" value={{.}}>
                {{/existingData}}
            </div>
            
            <a class="button" id="add-item-button">+</a> Add {{item-name}}
        </div>

    </fieldset>
    <div class="controls">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="button" name="action" value="submit">Save &amp; Return</button>

    </div>
</form>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const addButton = $('#add-item-button')
    const inputField = $('#first-input-element');
    const inputParent = inputField.parentNode;

    addButton.addEventListener('click', (event) => {
        const cloneNode = inputField.cloneNode(true);
        cloneNode.value = "";
        inputParent.appendChild(cloneNode);
        return false;
    })
});
</script>
