<section id="std-{{id}}" class="standard {{interopClass}} {{statusClass}}">
  {{#if editUrl}}
    <span class="name"><a href="{{editUrl}}">{{name}}</a></span>
  {{/if}}

  {{#if viewUrl}}
    <span class="name"><a href="{{viewUrl}}">{{name}}</a></span>
  {{/if}}

  <tr>

  </tr>
  <span class="status">
    {{status}} {{#if latestSubmissionDate}}On {{latestSubmissionDate}}{{/if}}
  </span> 
  
  <span class="controls">
   {{#if standardOwner.firstName}} With {{standardOwner.firstName}} {{standardOwner.lastName}}{{/if}}
  </span>
</section>
