{{#*inline "info-table"}}
<table>
    {{#each info as |data|}}
    <tr>
      <td class="title">{{data.title}}</td>
      <td class="items">
        {{#each data.items as |item|}}
          {{#if item.link}}
            <a href="{{item.link}}">{{item.text}}</a>
          {{else}}
            {{item.text}}
          {{/if}}
          <br>
        {{/each}}
      </td>
    </tr>
    {{/each}}
  </table>
{{/inline}}

{{#*inline "toc"}}
<nav class="toc">
    <h3>Page Contents</h3>
    <ul>
      <li><a href="#summary">Summary</a></li>
      <li><a href="#features">Features</ahr></li>
      <li><a href="#integrations">Integrations</a></li>
      <li><a href="#commercial-arrangements">Commercial Arrangements</></li>
        <li><a href="#pricing">Pricing</></li>
      <li><a href="#associated-services">Associated Services</a></li>
      <li><a href="#additional-services">Additional Services</a></li>
      <li><a href="#service-scope">Service Scope</a></li>
      <li><a href="#assessment-standards">NHS Assessments &amp; Standards</a></li>
      <li><a href="#customer-insights">Customer Insights</a></li>
      <li><a href="#importing-exporting">Data Importing and Exporting</a></li>
      <li><a href="#user-support">User Support</a></li>
      <li><a href="#migration-switching">Migration and Switching</a></li>
      <li><a href="#audit-info">Audit Information for Users</a></li>
      <li><a href="#about">About {{solution.name}}</a></li>
      <li><a href="#contact-details">Contact Details</a></li>
    </ul>
  </nav>
{{/inline}}

{{#*inline "contents"}}
  <section class="solution" id="summary">
    <h2 class="name">{{solution.name}}, {{solution.version}}</h2>
    <p class="description">{{solution.description}}
  </section>

  <section id="features">
    <h3>Features</h3>
    <ul class="features">
      {{#each benefitOptions as |option|}}
        <li>{{option}}</li>
      {{/each}}
  </ul>
  </section>
  
  <section id="integrations">
    <h3>Integrations</h3>
    <h4>The following is a list of proven integrations</h4>
    <ul class="interop">
      {{#each interopOptions as |option|}}
        <li>{{option}}</li>
      {{/each}}
    </ul>
  </section>
  
  <section id="commercial-arrangements">
    <h3>Commercial Arrangements</h3>
    <h4>{{commercialArrangements}}</h4>
  </section>

  <section id="pricing">
    <h3>Pricing and add-on Services</h3>
    <h4>{{pricing}}</h4>
  </section>
  
  <section class="subsection" id="associated-services">
    <h3>Associated Services (Not Optional)</h3>
    <table>
      {{#each services.associated-services as |service|}}
        {{#if service.enabled}}
          <tr>
            <td class="lable">
              {{service.label}}
            </td>
            <td class="price">
              {{service.price}}
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </table>
  </section>

  <section class="subsection" id="additional-services">
    <h3>Additional Services (Optional)</h3>
    <table>
      {{#each services.additional-services as |service|}}
        {{#if service.enabled}}
          <tr>
            <td class="lable">
              {{service.label}}
            </td>
            <td class="price">
              {{service.price}}
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </table>
  </section>
  
  <section class="subsection" id="service-scope">
    <h3>Service Scope</h3>
    <table>
      {{#each requirementOptions as |req|}}
      <tr>
        <td>{{req.group}}</td>
        <td>
          {{#each req.items as |item|}}
            {{item}}<br>
          {{/each}}
        </td>
      </tr>
      {{/each}}
      {{#if productPage.requirements}}      
      <tr>
        <td>Additional Requirements</td>
        <td>
          {{#each productPage.requirements as |req|}}
          {{req}}<br>
          {{/each}}
        </td>
      </tr>
    {{/if}}
    </table>
  </section>

  <section class="section-group" id="assessment-standards">
    <h3>NHS Assessments &amp; Standards*</h3>
    <div>
      {{#> help-reveal title="Help - What is this?"}}
      <p>All purchaseable Solutions on the catalogue have passed a rigorous NHS Capabilities Assessment &amp; Standards Compliance process. They have evidenced that the Solution provides each of the Capabilities that define its functionality, and that it meets all the Standards associated with the Solution.    </p>
      <p>*Information in the NHS Assessment &amp; Standards section has been fully assessed and assured by NHS Digital. All information outside this section has been provided by the Supplier, and not been validated by NHS Digital. </p>
      {{/help-reveal}}
    </div>

    <div>
      {{#if carousel}}
      <div class="carousel">
        <p>Capability Videos</p>
        <p class="help">Watch how this solution meets its Capabilities.</p>
        <div class="glide">
          <div class="glide__track" data-glide-el="track">
            <ul class="capabilities glide__slides">
              {{#carousel}}
              <li class="capability glide__slide">
                  <h4 class="name">{{name}}</h4>
                  <div class="video">
                    <iframe width="500" height="400" src="https://www.youtube.com/embed/uv-F9pxUECc?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  {{#youtubeUrl}}
                  <iframe width="217.5" height="315" src="https://www.youtube.com/embed/{{.}}?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  {{/youtubeUrl}}
                </div>
              </li>
              {{/carousel}}
            </ul>
          </div>
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">&lt;</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">&gt;</button>
          </div>
          <div class="glide__bullets" data-glide-el="controls[nav]">
            {{#carousel}}
            <button class="glide__bullet" data-glide-dir="={{@index}}"></button>
            {{/carousel}}
          </div>
        </div>
      </div>
      {{/if}}
    </div>

    <div>
      <details class="explanation">
        <summary class="heading">Capabilities</summary>
        <ul>
          {{#productPage.capabilities}}
            <li>
              <details class="explanation capability-details">
                <summary><a>{{name}}</a></summary>
                <div class="detail-text">
                  <table class="capability-details">
                    <tr>
                      <td class="description">
                        <p>{{description}}</p>
                      </td>
                      <td>
                        <a href="{{url}}">Request Supplier Assessment Evidence</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </details>
            </li>
          {{/productPage.capabilities}}
        </ul>
      </details>
    </div>

    <div>
      <details class="explanation">
          <summary class="heading">Capability Specific Standards</summary>
          <ul>
            {{#standards.mandatory}}
              <li>
                <details class="explanation capability-details">
                  <summary><a>{{name}}</a></summary>
                  <div class="detail-text">
                    <table class="capability-details">
                      <tr>
                        <td class="description">
                          <p>{{description}}</p>
                        </td>
                        <td>
                          <a href="{{url}}">Request Supplier Assessment Evidence</a>
                        </td>
                      </tr>
                    </table>
                  </div>
                </details>
              </li>
            {{/standards.mandatory}}
          </ul>
        </details>
    </div>

    <div>
        <details class="explanation">
            <summary class="heading">Solution Specific Standards</summary>
            <ul>
              {{#standards.interop}}
                <li>
                  <details class="explanation capability-details">
                    <summary><a>{{name}}</a></summary>
                    <div class="detail-text">
                      <table class="capability-details">
                        <tr>
                          <td class="description">
                            <p>{{description}}</p>
                          </td>
                          <td>
                            <a href="{{url}}">Request Supplier Assessment Evidence</a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </details>
                </li>
              {{/standards.interop}}
            </ul>
          </details>
        </div>

    <div>
        <details class="explanation">
            <summary class="heading">General Standards</summary>
            <ul>
              {{#standards.overarching}}
                <li>
                  <details class="explanation capability-details">
                    <summary><a>{{name}}</a></summary>
                    <div class="detail-text">
                      <table class="capability-details">
                        <tr>
                          <td class="description">
                            <p>{{description}}</p>
                          </td>
                          <td>
                            <a href="{{url}}">Request Supplier Assessment Evidence</a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </details>
                </li>
              {{/standards.overarching}}
            </ul>
          </details>
    </div>
  </section>
  
  <section id="customer-insights">
    <h3>Customer Insights</h3>
    {{>info-table info=customerInsights}}

  </section>
  
  <section id="importing-exporting">
    <h3>Data Importing &amp; Exporting</h3>
    {{>info-table info=dataImportExport}}
  </section>
  
  <section id="user-support">
    <h3>User Support</h3>
    {{>info-table info=userSupport}}
  </section>
  
  <section id="migration-switching">
    <h3>Migration &amp; Switching</h3>
    {{>info-table info=migrationSwitching}}
  </section>
  
  <section id="audit-info">
    <h3>Audit Information for Users</h3>
    {{>info-table info=auditInfo}}

  </section>
  
  <section id="about">
    <h3>About {{organisationName}}{{#productPage.logoUrl}} <img src="{{.}}">{{/productPage.logoUrl}}</h3>
    <p class="about">{{productPage.about}}</p>

  </section>
  
  <section id="contact-details">

      {{#productPage.contact}}
      <section id="contact-details" class="optional">
        <h3>Contact Details</h3>
        <ul>
          <li>
            <span class="label">Name</span>
            <span class="value">{{firstName}} {{lastName}}</span>
          </li>
          {{#phoneNumber}}
          <li>
            <span class="label">Phone number</span>
            <span class="value">{{.}}</span>
          </li>
          {{/phoneNumber}}
          {{#emailAddress}}
          <li>
            <span class="label">Email</span>
            <span class="value"><a href="mailto:{{.}}">{{.}}</a></span>
          </li>
          {{/emailAddress}}
          {{#url}}
          <li>
            <span class="label">Website</span>
            <span class="value"><a href="{{.}}" target="_blank">{{.}}</a></span>
          </li>
          {{/url}}
        </ul>
      </section>
      {{/productPage.contact}}  </section>

  {{#if productPage.case-study}}
  <section id="case-studies" class="optional">
    <h3>Case Studies</h3>
    <ul class="case-studies">
      {{#productPage.case-study}}
      <li>
        <span class="label">{{title}}</span>
        <span class="value"><a href="/dummy.pdf" target="_blank">📄 download PDF</a></span>
      </li>
      {{/productPage.case-study}}
    </ul>
  </section>
  {{/if}}
{{/inline}}

<div class="page-container">
  <div class="toc-wrapper">
      {{>toc}}
  </div>
  <div class="section-wrapper">
      {{>contents}}
  </div>
</div>
