
<div id="save-nav-wrapper">
<nav id="save-nav" class="main">

    {{#if pageHasForm}}
    <div class="links">
        <div class="left">
            <button id="nav-save-button" name="action" value="save" type="submit">Save</button>
            {{#if solution.name}} <div class="nav-item">{{solution.name}}</div> {{/if}}
            {{#if nav-title}} <div class="nav-item">{{nav-title}}</div> {{/if}}
        </div>
        <div class="right">
            <a href="#support" class="nav-item">Support</a>
            <button id="nav-save-exit-button" name="action" value="saveAndExit" type="submit">Save &amp; Exit</button>
        </div>
    </div>

    {{else}}

    <div class="links">
        <div class="left">
            {{#if solution.name}} <div class="nav-item">{{solution.name}}</div> {{/if}}
            {{#if nav-title}} <div class="nav-item">{{nav-title}}</div> {{/if}}
        </div>
        <div class="right">
            <a href="#support" class="nav-item">Support</a>
        </div>
    </div>
    {{/if}}

</nav>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const nav = $('#save-nav');
    const navTop = nav.offsetTop;
    const navHeight = nav.clientHeight;
    const navWrapper = $('#save-nav-wrapper');
    navWrapper.style.height = `${navHeight}px`;

    window.addEventListener('scroll', function() {
        if (navTop < window.pageYOffset) {
            nav.classList.add('fixed-nav');
        }
        else {
            nav.classList.remove('fixed-nav');
        }
    });

    const pageForms = document.forms;
    const buttons = $$('button');
    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            Array.from(document.forms).forEach((form) => {
                const buttonClone = button.cloneNode(true);
                button.parentElement.insertBefore(buttonClone, button)
                form.appendChild(button); // Appending the clone doesn't work for some reason.
                form.submit();
            });
        })
    })
});

</script>
