
<div id="save-nav-wrapper">
<nav id="save-nav" class="main">
    {{#if form}}
    <div class="links">
        <div class="left">
            <button>Save</button>
            {{#if nav-title}}
                <div class="nav-item">{{nav-title}}</div>
            {{/if}}
        </div>
        <div class="right">
            <button>Save &amp; Exit</button>
        </div>
    </div>
    {{else}}
    <div class="links">
        <div class="left">
            <div class="nav-item">Something Something Something</div>
        </div>
        <div class="right">
            <div class="nav-item">Something Something Something</div>
        </div>
    </div>
    {{/if}}
</nav>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const nav = $('#save-nav');
    const navTop = nav.offsetTop;
    const navHeight = nav.clientHeight;
    const navWrapper = $('#save-nav-wrapper');
    navWrapper.style.height = `${navHeight}px`;

    window.addEventListener('scroll', function() {
        if (navTop < window.pageYOffset) {
            nav.classList.add('fixed-nav');
        }
        else {
            nav.classList.remove('fixed-nav');
        }
    });
  });

</script>
