<fieldset class="root-fieldset">
    {{#title}}<h3>{{.}}</h3>{{/title}}
    <fieldset id="{{name}}-trigger" {{#dependants}} class="triggering-fieldset" {{/dependants}}>
        <textarea 
            name="{{name}}"
            cols="75"
            rows="4"
            maxlength="{{character-limit}}"
            placeholder="{{placeholder}}"
        >{{value}}</textarea>

        {{#if character-limit}}
            <p class="description"> You have <a id="{{name}}-remaining"></a>(out of {{character-limit}}) characters remaining</p>
        {{/if}}
    </fieldset>

    {{#if dependants}}
    <fieldset id="{{name}}-dependants" class="dependant-fieldset">
        <a>
            {{#dependants}}
                {{> (lookup . 'type')}}
            {{/dependants}}
        </a>
    </fieldset>
    {{/if}}
</fieldset>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const dependantsFieldsetID = `#${"{{name}}"}-dependants`;
    const triggeringFieldsetID = `#${"{{name}}"}-trigger`;
    const enablingOptions = "{{dependant-on}}";
    
    const dependantFieldset = $(dependantsFieldsetID);
    const triggeringFieldset = $(triggeringFieldsetID);

    if(enablingOptions && !!dependantFieldset) {
        triggeringFieldset.addEventListener('change', (evt) => {
            const enablingValue = enablingOptions.indexOf(evt.target.value) > -1;
            dependantFieldset.classList.toggle('hidden', !enablingValue);
        })

        const triggeringFieldChecked = enablingOptions.indexOf(checkedOptionValue) > -1
        dependantFieldset.classList.toggle('hidden', !triggeringFieldChecked);
    }
});
</script>