$header-top-height: 5rem;
$header-bottom-height: 3rem;
$header-total-height: $header-top-height + $header-bottom-height;
$header-padding: 1rem;

html {
  background-color: $color-bg;
  box-sizing: border-box;
  color: $color-fg;
  font-family: 'Frutiger W01';
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $color-link-fg;
  text-decoration: none;

  &:visited,
  &:active,
  &:focus {
    color: $color-link-fg;
  }
}

%reversed {
  background-color: $color-reversed-bg;
  color: $color-reversed-fg;

  a {
    color: $color-link-reversed-fg;

    &:visited,
    &:active,
    &:focus {
      color: $color-link-reversed-fg;
    }
  }
}

// account for fixed header with JS support @see src/static/js/app.js
#content {
  padding-top: $header-total-height;
}

body > header {
  position: fixed;
  top: 0;
  width: 100%;

  .top {
    background-color: $color-bg;
    display: flex;
    height: $header-top-height;
    padding: $header-padding;

    > nav {
      flex: auto;
    }
  }

  .bottom {
    @extend %reversed;
    height: $header-bottom-height;
    padding: $header-padding;

    nav {
      margin: 0 auto;
      width: 40%;

      a {
        margin-right: 2rem;
      }
    }
  }

  #home-link {
    display: block;
    text-decoration: none;
    vertical-align: top;

    .nhs-digital-logo {
      display: inline-block;
      height: $header-top-height - 2 * $header-padding;
    }

    .title {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: bold;
      vertical-align: top;
    }
  }
}
