// concrete colour palette based on NHS Digital branding guidelines
$color-nhs-white: #FFF;
$color-nhs-blue: #005EB8;
$color-nhs-light-grey: #F0F4F5;
$color-nhs-mid-grey: #768692;
$color-nhs-dark-grey: #425563;
$color-nhs-warm-yellow: #FFB81C;
$color-nhs-red: #DA291C;

// abstract colour palette - use this in actual styles
$color-bg: $color-nhs-white;
$color-fg: $color-nhs-dark-grey;

$color-reversed-bg: $color-nhs-blue;
$color-reversed-fg: $color-nhs-white;

$color-link-fg: $color-nhs-blue;
$color-link-reversed-fg: $color-nhs-white;

$color-footer-top-bg: $color-nhs-dark-grey;
$color-footer-top-fg: $color-nhs-white;
$color-footer-bottom-bg: #334451;
$color-footer-bottom-fg: $color-nhs-white;
$color-footer-link-fg: $color-nhs-white;

$color-input-border: $color-nhs-blue;

$color-collapsible-fieldset-bg: $color-nhs-light-grey;
$color-collapsible-fieldset-fg: $color-fg;
$border-collapsible-fieldset: 1px solid $color-nhs-blue;
$radius-collapsible-fieldset-border: 3px;
$color-collapsible-fieldset-legend-bg: $color-reversed-bg;
$color-collapsible-fieldset-legend-fg: $color-reversed-fg;
$color-collapsible-fieldset-legend-collapsed-bg: $color-bg;
$color-collapsible-fieldset-legend-collapsed-fg: $color-nhs-blue;
$border-collapsible-fieldset-error: 1px solid $color-nhs-red;
$color-collapsible-fieldset-legend-error-bg: $color-nhs-red;
$color-collapsible-fieldset-legend-error-fg: $color-nhs-white;
$color-collapsible-fieldset-legend-error-collapsed-bg: $color-bg;
$color-collapsible-fieldset-legend-error-collapsed-fg: $color-nhs-red;
$color-collapsible-fieldset-preamble-bg: $color-bg;
$color-collapsible-fieldset-preamble-fg: $color-fg;
$color-collapsible-fieldset-validations-fg: $color-nhs-mid-grey;
$color-collapsible-fieldset-info-fg: $color-nhs-mid-grey;
