@import 'normalize';
@import 'fonts';

html {
  box-sizing: border-box;
  font-family: 'Frutiger W01';
}

*, *:before, *:after {
  box-sizing: inherit;
}

#home-link {
  text-decoration: none;
  vertical-align: top;

  .nhs-digital-logo {
    height: 3em;
    width: 3em;
  }
}

.sr {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}
