{{#if saved}}
<div id="saved-notification">
  <span>✔︎ Saved</span>
</div>
{{/if}}
<div id="assessment">
  {{> onboarding-progress-header
        title="Enter Capabilities Assessment Evidence"
        subtitle="Stage 2—Capabilities Assessment"}}

  {{> solution-info solution}}

  <div>
    <p>For each Capability below, provide a video showing how your Solution meets that Capability. The  video must be downloadable from the link provided.</p>

    <p>The videos and answers will be used by our Commercial team to assess whether your Solution satisfies the Capabilities selected. We will also display the videos on your Solution’s catalogue page to support buyers in making purchasing decisions, unless you opt out.</p>

    <p>You can opt out, and miss out on showing videos to buyers, when building your Solution's catalogue page during Onboarding Stage 4.</p>

    <p>Need help? For Clarifications and other queries, see:
      <a href="{{ contactUsUrl }}">Contact Us.</a></p>
  </div>

  {{#if messages}}
  <section class="message-history">
    <h3>Assessment Message History</h3>
    <ul class="messages">
    {{#messages}}
      <li class="message {{originatorClass}}">
        <pre class="text">{{message}}</pre>
        <p class="metadata">
          <span class="originator">{{contact.firstName}} {{contact.lastName}}</span>
          <span class="timestamp">{{displayTimestamp}}</span>
        </p>
      </li>
    {{/messages}}
    </ul>
  </section>
  {{/if}}

  <form method="post">
    {{#solution.capabilities}}
    <fieldset id="evidence-{{id}}" class="capability {{statusClass}}">
      <legend>{{ name }} <span class="status">{{status}}</span></legend>
      <p class="description">1. Provide video(s) demonstrating that the Solution meets all the qualifying user stories defined in the Capability description.
        <a href="{{ url }}" target="_blank">View Capability description.</a>
      </p>
      <fieldset class="evidence">
        <h3>Add video link</h3>
        <p class="label">Upload video to file share platform, and provide link to video here.
          <a href="{{ filesharePlatformUrl }}" target="_blank">Open file share platform.</a></p>
        <input type="text"
               name="evidence[{{id}}]"
               value="{{evidence}}">
      </fieldset>
    </fieldset>
    {{/solution.capabilities}}
    <div class="controls">
        <button name="action" value="save" type="submit">Save</button>
        <button class="primary" name="action" value="submit" type="submit">Submit for Assessment ❯</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>
  </form>
</div>

<script>
/* global $, $$ */
document.addEventListener('DOMContentLoaded', () => {
  $$('fieldset.capability').forEach(el => {
    el.addEventListener('input', enableSubmitIfAllCapabilitiesHaveEvidence)
  })
  enableSubmitIfAllCapabilitiesHaveEvidence()

  $$('fieldset.capability > legend').forEach(el => {
    el.addEventListener('click', toggleFieldsetCollapse)
  })

  function toggleFieldsetCollapse (ev) {
    ev.target.closest('fieldset').classList.toggle('expanded')
  }

  function enableSubmitIfAllCapabilitiesHaveEvidence () {
    const allEvidenceInputs = $$('input[name^=evidence]')
    const allEvidenceValues = allEvidenceInputs.map(el => el.value.trim()).filter(_ => _)

    $('button[name=action][value=submit]').disabled = allEvidenceInputs.length !== allEvidenceValues.length
  }
})
</script>
