{{#if saved}}
<div id="saved-notification">
  <span>✔︎ Saved</span>
</div>
{{/if}}
<div id="assessment">
  {{> onboarding-progress-header
        title="Provide Assessment evidence for your Solution."
        subtitle="Stage 2—Capabilities Assessment"}}

  <!-- {{> solution-info solution}} -->
  <div>
    <p> Answer both parts of the requirements for this Capability below. You can edit these responses until you submit all your Solution’s Capability Assessment responses from the Capability Dashboard. </p>
    <p>All Clarifications should be submitted in <a href="#">Bravo</a>.</p> 
  </div>

  {{#if messages}}
  <section class="message-history">
    <h3>Assessment Message History</h3>
    <ul class="messages">
    {{#messages}}
      <li class="message {{originatorClass}}">
        <pre class="text">{{message}}</pre>
        <p class="metadata">
          <span class="originator">{{contact.firstName}} {{contact.lastName}}</span>
          <span class="timestamp">{{displayTimestamp}}</span>
        </p>
      </li>
    {{/messages}}
    </ul>
  </section>
  {{/if}}

  <form method="post">
    {{#solution.capabilities}}
    <fieldset id="evidence-{{id}}" class="capability {{statusClass}}">
      <legend>{{ name }} <span class="status">{{status}}</span></legend>
      <p class="description">
          Provide a video showing how your Solution meets each of this Capabilities’ Epics and Acceptance Criteria. Find all Epics and Acceptance Criteria here: 
        <a href="{{ url }}" target="_blank">View Capability description.</a>
      </p>

      <fieldset class="evidence video" id="video-fieldset-{{id}}">
        <h3>Part 1. Add Video</h3>
        <!-- <p class="label">Upload video to file share platform, and provide link to video here. -->
        <!-- <a href="{{ filesharePlatformUrl }}" target="_blank">Open file share platform.</a></p> -->
        <label id="video-input-label-{{id}}"
               class="file-input">
          Choose a File
          <input id="video-input-{{id}}"
                 class="file-input"
                 type="file"
                 name="video_evidence[{{id}}]"
                 value="{{video_evidence}}">
        </label>
        <p id="video-file-name-{{id}}">{{#if video_evidence}} {{video_evidence}} {{else}} No File Selected {{/if}}</p>
        <button class="video-save" name="action" value="save" type="">Save</button>
        <br>
        <p class="description">Enter a timestamp for each epic where the epic is evidenced. </p>
        <p class="description">For example, Epic 3 at 4:56.</p>
        <textarea
          name="video-description[{{id}}]"
          columns="150"
          rows="4">{{video_description}}</textarea>



      </fieldset>

      <fieldset class="evidence description">
          <h3>Part 2. How does your Solution deliver value for this Capability? </h3>
          <p class="description">300 character limit </p>
          <textarea 
            maxlength="300"
            columns="150"
            rows="4"
            name="evidence_description[{{id}}]">{{evidence_description}}</textarea>

        </fieldset>

    </fieldset>
    {{/solution.capabilities}}
    <div class="controls">
        <!-- <button name="action" value="save" type="">Save</button> -->
        <p class="notice">By Submitting this information to NHS Digital for Assessment , you are confirming you are able, to the best of your knowledge, to meet all Capability Assessment and Standards Compliance requirements and to display the Solution named on the NHS Catalogue.</p>
        <button class="primary-button" name="action" value="submit" type="submit">Submit for Assessment ❯</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>
  </form>
</div>

<script>
/* global $, $$ */
document.addEventListener('DOMContentLoaded', () => {
  $$('fieldset.capability').forEach(el => {
    el.addEventListener('input', enableSubmitIfAllCapabilitiesHaveEvidence)
  })
  enableSubmitIfAllCapabilitiesHaveEvidence()

  $$('fieldset.capability > legend').forEach(el => {
    el.addEventListener('click', toggleFieldsetCollapse)
  })

  function toggleFieldsetCollapse (ev) {
    ev.target.closest('fieldset').classList.toggle('expanded')
  }

  function enableSubmitIfAllCapabilitiesHaveEvidence () {
    const allEvidenceInputs = $$('input[name^=evidence]')
    const allEvidenceValues = allEvidenceInputs.map(el => el.value.trim()).filter(_ => _)

    $('button[name=action][value=submit]').disabled = allEvidenceInputs.length !== allEvidenceValues.length
  }

  function buildLabelUpdater(fileInput, fileNameStringEle) {
    return function () {
      const fileString= fileInput.value.split('/').pop().split('\\').pop();
      if(fileString) {
        fileNameStringEle.innerText = fileString;
      }
    }
  }

  const videoFieldsets = $$('form fieldset.evidence.video');

  videoFieldsets.forEach((fieldSet) => {
    const idElements = fieldSet.id.split('-');
    const capID = idElements[idElements.length-1];
    const vidInput = $(`#video-input-${capID}`);
    const vidLabel = $(`#video-file-name-${capID}`);
    const labelUpdater = buildLabelUpdater(vidInput, vidLabel);
    vidInput.addEventListener('change', labelUpdater)
    labelUpdater();
  })

})
</script>
