<div id="assessment">
  {{> onboarding-progress-header
        title="Enter Capabilities Assessment Evidence"
        subtitle="Stage 2—Capabilities Assessment"}}

  {{> solution-info solution}}

  <div>
    <p>For each Capability below, provide a video showing how your Solution meets that Capability. The  video must be downloadable from the link provided.</p>

    <p>The videos and answers will be used by our Commercial team to assess whether your Solution satisfies the Capabilities selected. We will also display the videos on your Solution’s catalogue page to support buyers in making purchasing decisions, unless you opt out.</p>

    <p>You can opt out, and miss out on showing videos to buyers, when building your Solution's catalogue page during Onboarding Stage 4.</p>
  </div>

  <form method="post">
    {{#solution.capabilities}}
    <fieldset id="evidence-{{id}}" class="capability {{statusClass}}">
      <legend>{{ name }} <span class="status">{{status}}</span></legend>
      <p class="description">{{ description }}</p>
      <a href="{{ url }}" target="_blank">View full Capability description & Capability Standards.</a>
      <h3>Evidence Guidelines</h3>
      {{#with (lookup ../questions id)}}
      <fieldset class="evidence">
        <p>{{lede}}</p>
        <ul>
          {{#points}}
          <li>{{.}}</li>
          {{/points}}
        </ul>
        <input type="text"
               name="evidence[{{../id}}]"
               value="{{../evidence}}"
               placeholder="Provide link to downloadable video">
        <a class="evidenceLink" target="_blank" href="{{../evidence}}">{{../evidence}}</a>
      </fieldset>
      {{/with}}
      <div class="controls editing">
        <input class="button" type="submit" name="save[{{id}}]" value="Save">
        <span>By saving this link, you are confirming that your solution can meet this capability to the best of your knowledge.</span>
      </div>
      <div class="controls">
        <a class="edit button">Edit</a>
      </div>
      <div class="remove">
        <a class="remove-capability"
            href="#"
            title="If you don’t feel that you can provide evidence demonstrating how your solution meets this capability, then you can remove it.">remove capability</a>
      </div>
    </fieldset>
    {{/solution.capabilities}}
    <div class="messaging">
      <h3>Assessment Messaging (optional)</h3>
      <p class="help">Add any general comments that you would like to include with your submission. Please note that comments will not be assessed by the Capability Assessment team.</p>
      <textarea name="message" rows="6"></textarea>
    </div>
    <div class="controls">
        <button name="action" value="save" type="submit">Save</button>
        <button class="primary" name="action" value="submit" type="submit">Submit for Assessment ❯</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>
  </form>
  {{#if messages}}
  <section class="message-history">
    <h3>Assessment Message History</h3>
    <ul class="messages">
    {{#messages}}
      <li class="message {{originatorClass}}">
        <pre class="text">{{message}}</pre>
        <p class="metadata">
          <span class="originator">{{contact.firstName}} {{contact.lastName}}</span>
          <span class="timestamp">{{displayTimestamp}}</span>
        </p>
      </li>
    {{/messages}}
    </ul>
  </section>
  {{/if}}
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  $$('fieldset.capability').forEach(el => {
    el.addEventListener('input', enableSubmitIfAllCapabilitiesHaveEvidence)
  })
  enableSubmitIfAllCapabilitiesHaveEvidence()

  $$('fieldset.capability > legend').forEach(el => {
    el.addEventListener('click', toggleFieldsetCollapse)
  })

  $$('fieldset.capability .edit.button').forEach(el => {
    el.addEventListener('click', toggleFieldsetEditing)
  })

  $$('a.remove-capability').forEach(el => {
    el.addEventListener('click', ev => {
      const elCap = ev.target.closest('fieldset.capability')
      elCap.parentElement.removeChild(elCap)
    })
  })

  function toggleFieldsetCollapse (ev) {
    ev.target.closest('fieldset').classList.toggle('expanded')
  }

  function toggleFieldsetEditing (ev) {
    ev.target.closest('fieldset.capability').classList.toggle('editing')
  }

  function enableSubmitIfAllCapabilitiesHaveEvidence () {
    const allEvidenceInputs = $$('input[name^=evidence]')
    const allEvidenceValues = allEvidenceInputs.map(el => el.value.trim()).filter(_ => _)

    $('button[name=action][value=submit]').disabled = allEvidenceInputs.length !== allEvidenceValues.length
  }
})
</script>
