<div id="compliance" class="supplier">
  {{#if submitted}}
  <section id="submitted">
    <h3>Standard Compliance Evidence Submitted</h3>
    <p>Your evidence for {{submitted}} has been submitted to NHS Digital. You can expect to receive a reply within xx business days.</p>
    <p>While you wait, you are free to keep working on gathering and submitting evidence for the remaining Standards.</p>
  </section>
  {{/if}}

  {{> onboarding-progress-header
        title="Standards Compliance"
        subtitle="Stage 3—Standards Compliance"}}

  {{> solution-info solution}}

  {{#if errors.general}}
  <div class="errors">
    {{#errors.general}}
    <p>{{ . }}</p>
    {{/errors.general}}
  </div>
  {{/if}}

  <p class="help">
    Your Solution must comply with all of the Standards below in order to be purchased from the Catalogue. There are three classes of Standards: Capability-Specific Standards, Solution-Specific Standards, and General Standards. 
  </p>

  {{#if solution.capabilitySpecificStandards}}
  <section class="standards capability-specific">
    <header>
      <h2>Capability-Specific Standards</h2>
    </header>

    {{#> help-reveal title="Help - What Are These?"}}
    <p>Capability-Specific Standards are requirements related to the individual Capabilities you have selected.</p>
    {{/help-reveal}}

    {{#solution.capabilitySpecificStandards}}
    {{> compliance-standard .}}
    {{/solution.capabilitySpecificStandards}}
  </section>
  {{/if}}

  {{#if solution.solutionSpecificStandards}}
  <section class="standards solution-specific">
    <header>
      <h2>Solution-Specific Standards</h2>
    </header>

    {{#> help-reveal title="Help - What Are These?"}}
    <p>Solution-Specific Standards are requirements related to one or more of the Capabilities you have selected.</p>
    {{/help-reveal}}

    {{#solution.solutionSpecificStandards}}
    {{#if interop}}
      {{> compliance-standard . interopClass="interop"}}
    {{else}}
      {{> compliance-standard .}}
    {{/if}}
    {{/solution.solutionSpecificStandards}}
  </section>
  {{/if}}

  {{#if solution.standards}}
  <section class="standards overarching">
    <header>
      <h2>General Standards</h2>
    </header>

    {{#> help-reveal title="Help - What Are These?"}}
    <p>General Standards are requirements that apply to all Solutions, regardless of Capabilities selected, and cover the full scope of your Solution.</p>
    {{/help-reveal}}

    {{#solution.standards}}
    {{> compliance-standard .}}
    {{/solution.standards}}
  </section>
  {{/if}}
</div>
