{{#*inline "evidence-form"}}
<fieldset class="standard-evidence{{#statusClass}} {{.}}{{/statusClass}}" id="std-{{id}}">
  <legend>
    <span class="name">Evidence Requirements</span>
    <span class="status">{{status}}</span>
  </legend>
  {{#if isWithAssessmentTeam}}
  <p class="in-assessment"><span>Standard with Assessment Team</span></p>
  {{/if}}
  <section class="requirements">
    <p>Follow link to view &amp; add evidence requirements:</p>
    <p><a download href="/Dummy TraceabilityMatrix.xlsx">{{name}} Traceability Matrix (TM)</a></p>
  </section>
  {{#if editUrl}}
  <section class="evidence{{^saved}} editing{{/saved}}">
    <div class="editable">
      <h4>Add Link to Completed TM</h4>
      <label>
        Copy/paste link from File Sharing platform here.
        <input type="text"
               placeholder="Provide link to folder or file"
               name="evidence[{{id}}]"
               value="{{evidence.savedLink}}">
      </label>
      <h4>Message (Optional)</h4>
      <label>
        Include a message to for Compliance officer’s attention or to describe changes from previous submission.<br>&nbsp;• 300 character limit
      </label>
      <textarea placeholder="Include a message with the link (optional). 300 character limit."
                name="message[{{id}}]">{{evidence.savedMessage}}</textarea>
    </div>
    <div class="controls">
      <a class="saved-link" href="{{evidence.savedLink}}" target="_blank">{{evidence.savedLink}}</a>
      <p class="saved-message">{{evidence.savedMessage}}</p>
      <a href="#" class="edit">edit</a>
    </div>
  </section>
  {{/if}}
  {{#if evidence.submissions}}
  <ul class="submissions">
    {{#evidence.submissions}}
    <li class="submission {{originatorClass}}">
      <p class="link"><a href="{{link}}" target="_blank">{{link}}</a></p>
      <pre class="text">{{message}}</pre>
      <p class="metadata">
        <span class="originator">{{contact.firstName}} {{contact.lastName}}</span>
        <span class="timestamp">{{displayTimestamp}}</span>
      </p>
    </li>
    {{/evidence.submissions}}
  </ul>
  {{/if}}
  {{#if editUrl}}
  {{#if owners}}
  <section class="owner">
    <label>
      <h4>Select Owner</h4>
      <select name="owner[{{id}}]">
        <option value="">-- Select Owner --</option>
        {{#owners}}
        <option value="{{id}}"{{#selected}} selected{{/selected}}>{{lastName}}, {{firstName}}</option>
        {{/owners}}
      </select>
    </label>
  </section>
  {{/if}}
  <section class="controls">
    <input type="submit"
           class="button"
           name="save[{{id}}]"
           value="Save">
    {{#if submittable}}
    <input type="submit"
           class="button primary"
           name="submit[{{id}}]"
           value="Submit for Compliance ❯">
    {{/if}}
  </section>
  {{/if}}
</fieldset>
{{/inline}}

<div id="compliance" class="supplier edit">
  {{> onboarding-progress-header
        title=subtitle
        subtitle="Standards Compliance"}}

  {{> solution-info solution}}

  {{#if errors.general}}
  <div class="errors">
    {{#errors.general}}
    <p>{{ . }}</p>
    {{/errors.general}}
  </div>
  {{/if}}

  <section class="instructions">
    <header>
      <h3>Add evidence requirements.</h3>
    </header>
    <p class="help">
      To provide evidence, follow the link provided to the Traceability Matrix (TM). Evidence can take a variety of forms: text-based, image, video, or PDF. When you have finished adding evidence to the TM, create a link to the file and paste it below. Once Submitted, our Assurance team will review your evidence to ensure your Solution is compliant with the Standard.
    </p>
  </section>

  {{#if standard.url}}
  <h3><a target="_blank" href="{{standard.url}}">View {{standard.name}}</a></h3>
  {{/if}}

  {{#if standard.capabilities}}
  <details class="capabilities">
    <summary>Related Capabilities</summary>
    <ul>
    {{#standard.capabilities}}
      <li class="name"><a target="_blank" href="{{url}}">View {{name}} Capability</a></li>
    {{/standard.capabilities}}
    </ul>
  </details>
  {{/if}}

  <form method="POST" class="standards">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{> evidence-form standard submittable=submittable}}
  </form>
</div>

<script>
/* global $, $$ */
document.addEventListener('DOMContentLoaded', () => {
  $$('fieldset.standard-evidence .evidence .controls .edit').forEach(el => {
    el.addEventListener('click', ev => {
      ev.preventDefault()
      el.closest('.evidence').classList.add('editing')
    })
  })

  // if the URL has a target, collapse fieldsets that aren't the target
  function handleLocationHashChange () {
    if (window.location.hash) {
      const elToLeaveExpanded = $(window.location.hash)
      $$('fieldset.standard-evidence').forEach(el => {
        if (el !== elToLeaveExpanded) {
          el.classList.add('collapsed')
        } else {
          el.classList.remove('collapsed')
        }
      })
    }
  }

  window.addEventListener('hashchange', handleLocationHashChange, false)
  handleLocationHashChange()
})
</script>