{{#*inline "evidence-form"}}

<section>
  <div class="matrix">
    <header>Download your latest TM</header>
    <p><a download href="/Dummy TraceabilityMatrix.xlsx">{{name}} Traceability Matrix (TM)</a></p>
    {{#if hasFeedback}}
      <p class="comment" id="latestMessage">{{#latestSubmission}} {{message}} {{/latestSubmission}}</p>
    {{/if}}
    <p class="comment">{{#latestSubmissionDate}} {{.}} {{/latestSubmissionDate}}</p>
  </div>
</section>

<section>
  <fieldset class="standard-evidence{{#statusClass}} {{.}}{{/statusClass}}" id="std-{{id}}">
    {{#if editUrl}}
    <section class="evidence{{^saved}} editing{{/saved}}">
      <div class="editable">
        <h4>Upload Completed TM</h4>
          <label id="file-label" class="file-input">
            Choose a File
            <input id="file-input-field" class="file-input" type="file" name="evidence[{{id}}]">
          </label>
          <p id="file-name">{{#if evidence.savedLink}} {{evidence.savedLink}} {{else}}No File Selected{{/if}}</p>
      </div>

      <div class="controls">
        <h4>Uploaded TM</h4>
        <a class="saved-link" href="{{evidence.savedLink}}" target="_blank">{{evidence.savedLink}}</a>
        <p class="saved-message">{{evidence.savedMessage}}</p>
        <a href="#" class="edit">edit</a>
      </div>

      <section class="standard-description">
        <label>
            Add any special instructions or bring something to the Compliance officer’s attention. This can also be use to describe changes between versions of submissions. (optional)<br>300 character limit
        </label>
        <textarea name="message[{{id}}]" rows="5">{{evidence.savedMessage}}</textarea>
      </section>

      {{#if contacts}}
      <section class="owner">

        <label>
          {{#if standardOwner.firstName}}
            <h3>Standard Owner: {{standardOwner.firstName}} {{standardOwner.lastName}}</h3>
          {{/if}}
          <h4>Select Owner</h4>
          <select name="owner[{{id}}]">
            <option value="">-- Select Owner --</option>
            {{#contacts}}
            <option value="{{id}}"{{#selected}} selected{{/selected}}>{{lastName}}, {{firstName}}</option>
            {{/contacts}}
          </select>
        </label>
        <p class="help">
            Only registered users from your company will display in the list. If you don’t see the name you want,  you can <a href="{{ inviteUserUrl }}">invite colleagues</a> to register.
        </p>
      </section>
      {{/if}}
    </section>
    {{/if}}

    {{#if editUrl}}
    <section class="controls">

      {{#if submittable}}
      <input type="submit"
              class="button primary"
              name="submit[{{id}}]"
              value="Submit for Compliance ❯">
      {{/if}}
    </section>
    {{/if}}
  </fieldset>
</section>

{{/inline}}

<div id="compliance" class="supplier edit">
  {{#if standard.isWithAssessmentTeam}}
  <p class="in-assessment">
    <span>Status: Submitted. Awaiting Compliance Outcome</span>
  </p>
  {{/if}}
  {{#if standard.hasFeedback}}
  <p class="has-feedback">
    <span>Status: Response received from Compliance Officer. See <a href="#latestMessage">below</a>.</span>
  </p>
  {{/if}}

  {{> onboarding-progress-header
        title=subtitle
        subtitle="Standards Compliance"}}

  {{#if errors.general}}
  <div class="errors">
    {{#errors.general}}
    <p>{{ . }}</p>
    {{/errors.general}}
  </div>
  {{/if}}

  <section class="instructions">
    <p class="help">
        Find the TM for this Standard below. Download the latest version, and upload it when it’s complete. For Clarifications and other queries, see: Contact Us.    </p>
  </section>

  <!-- {{#if standard.url}}
  <p><a class="standard-url" target="_blank" href="{{standard.url}}">View {{standard.name}}</a></p>
  {{/if}} -->

  {{#if standard.capabilities}}
  <details class="capabilities">
    <summary class="name">Related Capabilities</summary>
    <ul>
    {{#standard.capabilities}}
      <li class="name"><a target="_blank" href="{{url}}">View {{name}} Capability</a></li>
    {{/standard.capabilities}}
    </ul>
  </details>
  {{/if}}

  {{#if standard.evidence.submissions}}
  <section class="evidence-history">
    <header>
      <h4>File History &amp; Messaging</h4>
    </header>
    <details>
      <summary>Show History</summary>
      <ul class="submissions">
        {{#standard.evidence.submissions}}
        <li class="submission {{originatorClass}}">
          {{#link}}<p class="link"><a href="{{.}}" target="_blank">{{.}}</a></p>{{/link}}
          <pre class="text">{{message}}</pre>
          <p class="metadata">
            <span class="originator">{{contact.firstName}} {{contact.lastName}}</span>
            <span class="timestamp">{{displayTimestamp}}</span>
          </p>
        </li>
        {{/standard.evidence.submissions}}
      </ul>
    </details>
  </section>
  {{/if}}

  <form method="POST" class="standards">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{> evidence-form standard submittable=submittable contacts=contacts}}
  </form>
</div>

<script>
/* global $, $$ */
document.addEventListener('DOMContentLoaded', () => {
  $$('fieldset.standard-evidence').forEach(el => {
    el.addEventListener('input', enableSubmitIfAllStandardsHaveEvidence)
  })
  enableSubmitIfAllStandardsHaveEvidence()

  function enableSubmitIfAllStandardsHaveEvidence () {
    const elSubmit = $$('.controls [name^=submit], [name=action]')
    elSubmit.forEach((elSubmit) => {
      const allEvidenceInputs = $$('input[name^=evidence], select[name^=owner]')
      const allEvidenceValues = allEvidenceInputs.map(el => el.value.trim()).filter(_ => _)
      const fileTextEle = $('#file-name')
      const alreadyUploaded = fileTextEle.innerText && fileTextEle.innerText !== 'No File Selected';
      elSubmit.disabled = allEvidenceInputs.length !== allEvidenceValues.length
    })
  }

  $$('fieldset.standard-evidence .evidence .controls .edit').forEach(el => {
    el.addEventListener('click', ev => {
      ev.preventDefault()
      el.closest('.evidence').classList.add('editing')
    })
  })

  function buildLabelUpdater(fileInput, fileInputLabel) {
    return function () {
      const fileString= fileInput.value.split('/').pop().split('\\').pop();
      if(fileString) {
        fileInputLabel.innerText = fileString;
      }
    }
  }

  const fileInputLabel = $('#file-name');
  const fileInput = $('#file-input-field');

  const labelUpdater = buildLabelUpdater(fileInput, fileInputLabel);
  fileInput.addEventListener('change', labelUpdater);
  labelUpdater();

  // if the URL has a target, collapse fieldsets that aren't the target
  function handleLocationHashChange () {
    if (window.location.hash) {
      const elToLeaveExpanded = $(window.location.hash)
      $$('fieldset.standard-evidence').forEach(el => {
        if (el !== elToLeaveExpanded) {
          el.classList.add('collapsed')
        } else {
          el.classList.remove('collapsed')
        }
      })
    }
  }


  window.addEventListener('hashchange', handleLocationHashChange, false)
  handleLocationHashChange()
  
})
</script>