{{#*inline "stage"}}
<li class="stage{{#complete}} complete{{/complete}}{{#continueUrl}} active{{/continueUrl}}{{#stageClass}} {{.}}{{/stageClass}}">
  <p class="name">{{name}}</p>
  <p class="instructions">{{instructions}}</p>
  <p class="status">
    {{#getStartedUrl}}<a class="button" href="{{.}}">Get Started</a>{{/getStartedUrl}}
    {{#continueUrl}}<a class="button" href="{{.}}">Continue</a>{{/continueUrl}}
    {{#viewUrl}}<a class="view" href="{{.}}">View</a>{{/viewUrl}}
    {{#complete}}<span class="complete">Complete</span>{{/complete}}
  </p>
</li>
{{/inline}}

<div id="onboarding-status" class="supplier">
  {{#if submitted}}
  <section id="submitted">
    {{#if stages.compliance.complete}}
      <h3>Solution Page Submitted</h3>
      <p>Your solution page has been submitted to NHS Digital for review. You can expect to a reply within xx business days.</p>
      <p>If your page is approved, you will receive a notification that your Solution page is ready to be published. If your page requires changes, you will receive feedback, and be asked to edit and re-submit the page.</p>
    {{else if stages.assessment.active}}
      <h3>Capabilities Assessment Submitted</h3>
      <p>Your responses have been submitted to NHS Digital. You can expect to receive a reply within xx business days.</p>
      <p>While you wait, you are free to view and keep working on evidence requirements for Standards Compliance. However, you cannot submit Standards Compliance evidence until you have passed Capabilities Assessment.</p>
    {{else if stages.register.complete}}
      <h3>Solution registration complete.</h3>
      <p>You can now continue with Capabilities Assessment as soon as you’re ready.</p>
      <p>You can also view Standards Compliance requirements, and start saving evidence against requirements. However, you cannot submit Standards Compliance evidence until you have passed Capabilities Assessment.</p>
    {{/if}}
  </section>
  {{/if}}

  {{> onboarding-progress-header
        title="Onboarding a Solution" }}

  {{#if solution}}
  <!-- {{> solution-info solution}} -->
  <p class="help">Continue on-boarding your solution to the catalogue by accessing the relevant stage below.</p>
  {{else}}
  <p class="help">There are 4 stages to on-boarding a solution to the catalogue. Start with Register Solution.</p>
  {{/if}}

  {{#> help-reveal title="Help - How is Stage 2 Capabilities Assessment different from Stage 3 Standards Compliance?"}}
    <p>Capabilities describe what your Solution does at a high level</p>
    <p>Standards describe how your Solution should be delivered to provide a minimum level of quality.</p>
    <p>Your Capabilities Assessment must be complete before you can submit evidence for Standards Compliance.</p>
  {{/help-reveal}}

  <ol class="stages">
    {{> stage
          stages.register 
          name="Register Solution"
          instructions="Provide Solution name, description, version and contact details. Select the Capabilities that define what your Solution does to register your Solution and build the requirements for the next two stages."
    }}

    {{> stage
          stages.assessment
          name="Capabilities Assessment"
          instructions="Provide evidence that shows how your Solution meets each of its Capabilities. Your Solution will be assessed to make sure it meets the Capabilties asserted."
    }}

    {{> stage
          stages.compliance
          name="Standards Compliance"
          instructions="Provide evidence that shows how your Solution meets the Standards that underpin selected Capabilities. Your Solution will be evaluated to ensure compliance with the Standards. "
    }}

    {{> stage
          stages.solution_page
          name="Solution Page"
          instructions="Provide information to help buyers evaluate your Solution. This information will be moderated. It not affect either Assessment (Stage 2) or Compliance (Stage 3)."
    }}
  </ol>
</div>
