{{#*inline "stage"}}
<li class="stage{{#complete}} complete{{/complete}}{{#continueUrl}} active{{/continueUrl}}{{#stageClass}} {{.}}{{/stageClass}}">
  <p class="name">{{name}}</p>
  <p class="instructions">{{instructions}}</p>
  <p class="status">
    {{#getStartedUrl}}<a class="button" href="{{.}}">Get Started</a>{{/getStartedUrl}}
    {{#continueUrl}}<a class="button" href="{{.}}">Continue</a>{{/continueUrl}}
    {{#viewUrl}}<a class="view" href="{{.}}">View</a>{{/viewUrl}}
    {{#complete}}<span class="complete">Complete</span>{{/complete}}
  </p>
</li>
{{/inline}}

<div id="onboarding-status" class="supplier">
  {{> onboarding-progress-header
        title="Onboarding A Solution" }}

  {{#if solution}}
  {{> solution-info solution}}
  <p class="help">Continue on-boarding your solution to the catalogue by accessing the relevant stage below.</p>
  {{else}}
  <p class="help">There are 4 stages to on-boarding a solution to the catalogue. Start with Register Solution.</p>
  {{/if}}

  <ol class="stages">
    {{> stage
          stages.register 
          name="Register Solution"
          instructions="Provide basic information and key contacts for your Solution. Review the full menu of Capabilities, and associated Standards and requirements. Select the Capabilities that define what your Solution can do, and the Mobile Standard if relevant."
    }}

    {{> stage
          stages.assessment
          name="Capabilities Assessment"
          instructions="For each selected Capability, answer open-response questions and provide video evidence that demonstrates how your Solution meets that Capability. Our Commercial team will review submitted Assessent videos and responses to make sure your Solution is within the scope of the Catalogue."
    }}

    {{> stage
          stages.compliance
          name="Standards Compliance"
          instructions="Provide evidence that your Solution meets all relevant Standards that underpin selected Capabilities. Evidence can take a variety of forms: text-based, image, video, or PDF. Our Assurance team will review submitted evidence to ensure your Solution is compliant with each Standard."
    }}

    {{> stage
          stages.solution_page
          name="Solution Page"
          instructions="Add additional information to your public-facing Solution page to help buyers make an informed evaluation during procurement. Additional information will be moderated for consistency. Additional information will not affect Assessment or Compliance. Once moderation is complete, you can choose when to publish your Solution page."
    }}
  </ol>
</div>
