<div id="add-edit-solution" class="supplier mobile">
  {{> onboarding-progress-header
        title="Confirm Mobile"
        subtitle="Register Solution (3 of 4)"}}
  <p class="help">If your Solution can be used on a mobile device, you will have to comply with relevant Standards. During the Standards Compliance stage of Onboarding, you will be asked to describe to what extent your Solution is available for mobile working.</p>
  <p><a href="{{standard.url}}" target="_blank">See {{standard.name}} Standard</a></p>

  {{#errors}}
  <p class="error">{{.}}</p>
  {{/errors}}

  <form method="POST">
    <fieldset class="is-mobile">
      <h3>Can your Solution be used on a mobile device?</h3>
      <label>
        <input type="radio" name="isMobile" value="yes"{{#if isMobile}} checked{{/if}}>
        Yes
      </label>
      <label>
        <input type="radio" name="isMobile" value="no"{{#if isMobile}}{{else}} checked{{/if}}>
        No
      </label>
    </fieldset>

    <fieldset class="controls">
      <button name="action" value="save" type="submit">Save</button>
      <button class="primary" name="action" value="submit" type="submit">Continue</button>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </fieldset>
  </form>
</div>
