<div id="solution-capabilities" class="supplier">
  {{> onboarding-progress-header
        title="Which Capabilities does your Solution provide? "
        subtitle="Register Solution (2 of 4)"}}
  <h3 class="question">Select all that apply.* </h3>
  <p>For queries and feedback, email: <a href="mailto:gpitfutures@nhs.net">gpitfutures@nhs.net</a>.</p>
  
  {{#> help-reveal title="Help - What are Capabilities?"}}
    <p>Capabilities describe what your Solution does.</p>
    <p> Standards describe how your solution should be delivered to provide a minimum level of quality. </p>
    <p>
      <a href="{{capabilitiesHelpUrl}}" target="_blank">Learn more and view all Capabilities &amp; Standards.</a>
    </p>
  {{/help-reveal}}
  
  <p class="commercial-warning">
    <strong>Commercial Disclaimers</strong>
    You must select ALL the Capabilities your Solution provides. If your Solution provides Capabilities that are not outlined below, please contact <a href="capability-overlords@nhs.gov.uk">capability-overlords@nhs.gov.uk</a>
    <br><br>{info on this to come}.  
    <br><br><a href="#">Placeholder Link 1</a>
    <br><br><a href="#">Placeholder Link 2</a>
  </p>


  {{#errors}}
  <p class="error">{{.}}</p>
  {{/errors}}
  <form method="post" novalidate>
    {{#each groupedCapabilities as |capabilities group|}}
    
    <fieldset class="capability-group">
      <legend>{{group}}</legend>
      <ul class="capabilities">
        {{#capabilities}}
        <li class="capability {{types}}" data-cap-id="{{id}}" data-std-ids="{{standardIds}}">
          <h4 class="name">{{name}}</h4>
          <a class="toggle-reveal" href="#">﹀</a>
          
          <section class="reveal">
            <p class="description">
              {{description}}
              {{#url}}
                <a href="{{.}}" target="_blank" class="full-description-link">See full Capability description</a>
              {{/url}}
            </p>
            <p>To comply with this Capability, you will have to meet these associated Standards.</p>
            
            <div>
            <section class="standards">
              <section class="cap-specific">
                <p class="type">Capability Specific</p>
                <ul>
                  {{#standards.capability}}
                  <li><a href="{{url}}" target="_blank">{{name}}</a></li>
                  {{/standards.capability}}
                </ul>
              </section>
              {{#if standards.mandatory}}
              <section class="mandatory">
                <p class="type">Solution Specific</p>
                <ul>
                  {{#standards.mandatory}}
                  <li><a href="{{url}}" target="_blank">{{name}}</a></li>
                  {{/standards.mandatory}}
                </ul>
              </section>
              {{/if}}
              {{#if standards.interop}}
              <section class="interop">
                <p class="type">Solution Specific <b>Interoperability</b></p>
                <ul>
                  {{#standards.interop}}
                  <li><a href="{{url}}" target="_blank">{{name}}</a></li>
                  {{/standards.interop}}
                </ul>
              </section>
              {{/if}}
            </section>
            </div>

            <section class="selection">
              <p>By selecting this Capability, I acknowledge the set of standards my solution must meet to attain compliance with this Capability.</p>
              <div>
                <input id="select-capability-{{id}}" type="checkbox" name="capabilities" value="{{id}}"{{#selected}} checked{{/selected}}>
                <label for="select-capability-{{id}}" class="unchecked button">Select</label>
                <label for="select-capability-{{id}}" class="checked">
                  <span class="selected">✔︎ Selected</span>
                  <span class="remove">Remove selection</span>
                </label>
              </div>
            </section>
          </section>
        </li>
        {{/capabilities}}
      </ul>
    </fieldset>
    {{/each}}


    <section class="summary">
      <header>
        <h3>Summary</h3>
      </header>
      <section class="capabilities">
        <p class="counter"><span class="count"></span> selected</p>
        <details>
          <summary>Capabilities</summary>
          <ul>
            {{#capabilities}}
            <li data-cap-id="{{id}}">
              {{name}}
            </li>
            {{/capabilities}}
          </ul>
        </details>
      </section>


      <section class="standards">
        <p class="counter">Compliance with <span class="count"></span> will be required</p>
        <ul>
          <li class="group">
            <details>
              <summary>Capability-specific Standards</summary>
              <ul>
                {{#standards.mandatory}}
                <li data-std-id="{{id}}"><a target="_blank" href="{{url}}">{{name}}</a></li>
                {{/standards.mandatory}}
              </ul>
            </details>
          </li>
          <li class="group">
            <details>
              <summary>Solution-specific Standards</summary>
              <ul>
                {{#standards.interop}}
                <li data-std-id="{{id}}"><a target="_blank" href="{{url}}">{{name}}</a></li>
                {{/standards.interop}}
              </ul>
            </details>
          </li>
          <li class="group">
            <details>
              <summary>General Standards</summary>
              <ul>
                {{#standards.overarching}}
                <li data-std-id="{{id}}"><a target="_blank" href="{{url}}">{{name}}</a></li>
                {{/standards.overarching}}
              </ul>
            </details>
          </li>
        </ul>
      </section>
    </section>

    <fieldset class="controls">
      <!-- <button name="action" value="save" type="submit">Save</button> -->
      <!-- <button class="primary" name="action" value="submit" type="submit">Continue</button> -->
      <button class="primary-button" name="action" value="continue" type="submit">Save & Continue</button>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </fieldset>

  </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const elPage = document.$('#solution-capabilities')
  const elSummary = elPage.$('.summary')

  function updateForCapabilitySelectionStateChange () {
    function select (el) {
      el.classList.add('selected')
    }

    function deselect (el) {
      el.classList.remove('selected')
    }

    // reset all selected states
    const mainCapabilities = elPage.$$('input[name=capabilities]')
    mainCapabilities.forEach(el => deselect(el.closest('.capability')))

    const summaryCapabilities = {}
    elSummary.$$('.capabilities [data-cap-id]').forEach(el => {
      deselect(el)
      el.$$('.optional').forEach(deselect)
      summaryCapabilities[el.dataset.capId] = el
    })

    const summaryStandards = {}
    elSummary.$$('.standards [data-std-id]').forEach(el => {
      deselect(el)
      summaryStandards[el.dataset.stdId] = el
    })

    const standardGroups = elSummary.$$('.standards li.group, .capabilities details')
    standardGroups.forEach(deselect)

    let capabilityCount = 0
    let standardCount = 0

    mainCapabilities.forEach(elCheckbox => {
      const elCapability = elCheckbox.closest('.capability')
      if (elCheckbox.checked) {
        capabilityCount += 1
        select(elCapability)

        const capabilityId = elCapability.dataset.capId
        const elSummaryCapability = summaryCapabilities[capabilityId]
        select(elSummaryCapability)

        const standardIds = elCapability.dataset.stdIds.split(',')
        standardIds.forEach(stdId => {
          const elStd = summaryStandards[stdId]
          if (elStd && !elStd.classList.contains('selected')) {
            standardCount += 1
            select(summaryStandards[stdId])
          }
        })
      }
    })

    // make any groups visible that have selected standards within them
    standardGroups.forEach(el => {
      if (el.$('.selected')) {
        select(el)
      }
    })

    // update the counters
    elSummary.$('.capabilities .count').innerText =
      capabilityCount + (capabilityCount !== 1 ? ' capabilities' : ' capability')
    elSummary.$('.standards .count').innerText =
      standardCount + (standardCount !== 1 ? ' standards' : ' standard')

    // only allow form submission if at least one capability is selected
    elPage.$('.controls [name=action][value=continue]').disabled = !capabilityCount
    
  }

  // initial synchronisation of capability selected states
  updateForCapabilitySelectionStateChange()

  elPage.$$('.capability-group').forEach(el => {
    el.addEventListener('change', updateForCapabilitySelectionStateChange)
  })

  elPage.$$('.toggle-reveal').forEach(el => {
    el.addEventListener('click', ev => {
      ev.preventDefault()

      // only one reveal should be active at any time and clicking the reveal on
      // the currently revealed capability should collapse it
      const elCapability = ev.target.closest('.capability')
      const isRevealed = elCapability.classList.contains('revealed')

      elPage.$$('.capability').forEach(el => {
        el.classList.remove('revealed')
        el.style.marginBottom = ''
      })

      if (!isRevealed) {
        elCapability.classList.add('revealed')

        // when the reveal is active, the bottom margin of the .capability element is
        // increased to move the row underneath down to make space for the reveal. The
        // margin is of a fixed height - set it here to the computed height of the reveal
        const elReveal = elCapability.$('.reveal')
        elCapability.style.marginBottom = '' + elReveal.offsetHeight + 'px'

        elCapability.scrollIntoView()
      }
    })
  })
})
</script>
