
{{#*inline "blockTitle"}}
  <div class="block-title">
    <div class="title">{{title}}</div>
    {{#if linkText}}
      {{#if linkURL}}
        <div class="link"><a href="{{linkURL}}">{{linkText}}</a></div>
      {{/if}}
    {{/if}}
  </div>
{{/inline}}


<div id="add-edit-solution" class="supplier review">
  {{> onboarding-progress-header
        title="Review and submit your responses to NHS Digital."
        subtitle="Register Solution (4 of 4)"}}
  <p>Review your answers and selections and make any changes as needed. </p>

  {{#errors.general}}
  <p class="error">{{.}}</p>
  {{/errors.general}}

  {{#> help-reveal title="Help - What happens next?"}}
    <p>When you click ‘Submit,’ the information you have provided will be sent to NHS Digital and Stage <i>1—Register Solution</i> will be complete. You will be ble to view Stages 2 and 3, Solution Assessment and Standards Compliance respectively, and begin Stage 2 whenever you’re ready.</p>
  {{/help-reveal}}
  <p>
<!-- 
  {{> solution-info solution}} -->

  <div class="details-block">
    {{#> blockTitle title="Enter Name, Description, Version." linkText="Change this answer" linkURL=editLinks.contacts }}
    {{/blockTitle}}


    <div class="subtitle">Title: {{solution.name}}</div>
    <p class="details">{{solution.description}}</p>
    <p class="details">Version: {{solution.version}}</p>
    
    {{#each contacts as |contact|}}
      <div class="subtitle">{{contact.contactType}} Details</div>
      <p class="details">Name: {{contact.firstName}} {{contact.lastName}}</p>
      <p class="details">Email: {{contact.emailAddress}}</p>
      <p class="details">Phone: {{contact.phoneNumber}}</p>
    {{/each}}

  </div>

  <div class="details-block">
      {{#> blockTitle title="What Capabilities does your Solution provide?" linkText="Change this answer" linkURL=editLinks.capabilities }}
    {{/blockTitle}}

    <span class="counter">
      {{capabilityCount}}
      {{#if capabilitySingular}}capability {{else}}capabilities{{/if}}
      selected
    </span>

    <ul class="capabilities-selected">
      {{#capabilities}}
      <li>{{.}}</li>
      {{/capabilities}}
      </ul>

      <section class="standards">
          <p class="counter">
            Based on your selections, compliance with
            {{standardCount}}
            {{#if standardSingular}}Standard{{else}}Standards{{/if}}
            will be required.
          </p>
          <ul>
            {{#if standards.mandatory}}
            <li class="group">
              <details>
                <summary>Capability-specific Standards</summary>
                <ul>
                  {{#standards.mandatory}}
                  <li data-std-id="{{id}}"><a target="_blank" href="{{url}}">{{name}} Standard</a></li>
                  {{/standards.mandatory}}
                </ul>
              </details>
            </li>
            {{/if}}
            {{#if standards.interop}}
            <li class="group">
              <details>
                <summary>Solution-specific Standards</summary>
                <ul>
                  {{#standards.interop}}
                  <li data-std-id="{{id}}"><a target="_blank" href="{{url}}">{{name}} Standard</a></li>
                  {{/standards.interop}}
                </ul>
              </details>
            </li>
            {{/if}}
            {{#if standards.overarching}}
            <li class="group">
              <details>
                <summary>General Standards</summary>
                <ul>
                  {{#standards.overarching}}
                  <li data-std-id="{{id}}"><a target="_blank" href="{{url}}">{{name}} Standard</a></li>
                  {{/standards.overarching}}
                </ul>
              </details>
            </li>
            {{/if}}
          </ul>
        </section>
  </div>

  <div class="details-block">
    {{#> blockTitle title="Can your Solution be used on a Mobile Device? " linkText="Change this answer" linkURL=editLinks.mobile }}
    {{/blockTitle}}

    {{#if supportsMobile}}
    <div class="subtitle">Yes</div>
    <p class="details"><i>Based on your selection, compliance with 1 additional Solution-specific Standard will be required.</i></p>
    <div class="subtitle">Mobile Working</div>
    {{else}}
    <div class="subtitle">No</div>
    {{/if}}
    
  </div>


  
  <form method="POST">
    <fieldset class="controls">
        <button class="primary-button" name="action" value="continue" type="submit">Save & Continue</button>
      <!-- <button name="action" value="save" type="submit">Save</button> -->
      <!-- <button class="primary" name="action" value="submit" type="submit">Submit to NHS Digital ❯</button> -->
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </fieldset>
  </form>
</div>