<div id="add-edit-solution" class="supplier mobile">
  {{> onboarding-progress-header
        title="Can your Solution be used on a mobile device?"
        subtitle="Register Solution (3 of 4)"}}
    <p><i>Select Yes or No*.</i></p>
  {{#errors}}
  <p class="error">{{.}}</p>
  {{/errors}}


  {{#> help-reveal title="Help - What if only some Capabilities are available on a mobile device?"}}
  <p>If <b>any</b> parts of your Solution can be used on a mobile device, you will have to comply with the Mobile Working Standard. During the Standards Compliance stage, you will be asked to provide evidence applicable to the extent your Solution is available for mobile working. <a href="#">See Mobile Working Standard.</a></p>
  {{/help-reveal}}
  <form method="POST">
    <fieldset class="is-mobile">
      <label>
        <input type="radio" name="isMobile" value="yes"{{#if isMobile}} checked{{/if}}>
        Yes
      </label>
      <label>
        <input type="radio" name="isMobile" value="no"{{#if isMobile}}{{else}} checked{{/if}}>
        No
      </label>
    </fieldset>

    <fieldset class="hidden mobile-compliance-note">
      <div class="mobile-compliance-note">
        <p><i>Based on your selection, compliance with 1 additional Solution-specific Standard will be required.</i></p>
        <p><a href="#">Mobile Working</a></p>
      <div>
    </fieldset>

    <fieldset class="controls">
      <!-- <button name="action" value="save" type="submit">Save</button> -->
      <button class="primary-button" name="action" value="continue" type="submit">Save & Continue</button>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </fieldset>
  </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const yesRadio = $('input[type="radio"][value="yes"]');
  const fieldset = $('fieldset.is-mobile');
  const complianceNote = $('fieldset.mobile-compliance-note');

  function toggleComplianceNote() {
    complianceNote.classList.toggle('hidden', !yesRadio.checked)
  }

  complianceNote.addEventListener('click', toggleComplianceNote);

  toggleComplianceNote();
})
</script>
