<div id="add-edit-solution" class="supplier">
  {{#if registered}}
  {{> onboarding-progress-header
      subtitle="Stage 1—Register Solution"
      title="Registration Complete"}}
  <p>Your solution is now registered!</p>
  {{/if}}

  {{#if assessment}}
  {{> onboarding-progress-header
      subtitle="Stage 2—Capabilities Assessment"
      title="Evidence Submitted"}}
  <p>Your capabilities assessment evidence has been submitted!</p>
  {{/if}}

  {{#if compliance}}
  {{> onboarding-progress-header
      subtitle="Stage 3—Standards Compliance"
      title="Evidence Submitted"}}
  <p>Your Standards Compliance evidence has been submitted!</p>
  {{/if}}

  {{#if solution_page}}
  {{> onboarding-progress-header
      subtitle="Stage 4—Build Solution Page"
      title="Solution Page Submitted"}}
  <p>Your solution page has been submitted to NHS Digital for review.</p>
  {{/if}}

  {{> solution-info solution}}

  <h2>Next Steps</h2>

  {{#if registered}}
  <p>Now that your solution is registered, you can start the next stage of Solution Onboarding &mdash; <strong>Capabilities Assessment</strong>. During this stage, you’ll be asked to provide evidence that demonstrates how your solution meets each of the Capabilities selected during Registration.</p>

  <p><a class="button" href="{{continueUrl}}">Capabilities Assessment ❯</a></p>
  <p><a href="{{dashboardUrl}}">View All Solutions in My Dashboard</a></p>
  {{/if}}

  {{#if assessment}}
  <p>Your solution is now pending assessment approval. You can expect to receive a reply within xx business days of submitting your assessment evidence. In the meantime, if you wish, you can view the next stage of Solution Onboarding: <strong>Stage 3—Standards Compliance. However, you cannot submit Standards Compliance evidence until your solution has passed the Stage 2 Assessment.</strong></p>

  <p><a class="button" href="{{continueUrl}}">Standards Compliance ❯</a></p>
  <p><a href="{{dashboardUrl}}">View All Solutions in My Dashboard</a></p>
  {{/if}}

  {{#if compliance}}
  <p>Thank you for submitting evidence for <strong>{{standard}}</strong>. You can expect to receive feedback on this Standard within xx business days.</p>

  <p>Next you can continue submitting evidence for other Standards for this Solution, or go back to your Dashboard to access all your Solutions.</p>

  <p><a class="button" href="{{continueUrl}}">Standards Compliance ❯</a></p>
  <p><a href="{{dashboardUrl}}">View All Solutions in My Dashboard</a></p>
  {{/if}}

  {{#if solution_page}}
  <p>Your solution page is now pending approval. You can expect to a reply via email notification within xx business days.</p>

  <p>If your page is approved, you will receive a notification that your Solution page is ready to be published. If your page requires changes, you will receive feedback, and be asked to edit and re-submit the page.</p>
  <p><a class="button" href="{{dashboardUrl}}">My Solution Dashboard ❯</a></p>
  {{/if}}
</div>
