{{#*inline "notification"}}
{{#if count}}
<div class="notification-icon">  
  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="16" viewBox="0 0 21 16">
    <path fill="#DA291C" fill-rule="evenodd" d="M10.595 9.867L8.457 8.013 1 16h19l-7.32-8-2.085 1.867zM14 7.175L20.932 15c.04-.152.068-.31.068-.475V1l-7 6.175zM0 1v13.526c0 .166.028.322.068.474L7 7.218 0 1zm21-1H1l10 8 10-8z"/>
  </svg> 
   <sup>{{#count}}{{.}}{{/count}}</sup>
</div>
{{else}}
<div>
-
</div>
{{/if}}
{{/inline}}

<div id="supplier-solutions" class="supplier">
  <div id="dashboard-greeting">
    <h2>My Solutions</h2>
    <a href="#">Manage my account</a>
        <p>
          Welcome, {{#if user.first_name}}{{user.first_name}}
              {{else}}
                  {{#if user.email}}{{user.email}}
                  {{else}}you?
                  {{/if}}
              {{/if}} Here you can add a new Solution and manage all your Solutions — both those in progress and published.
        </p>
    <a class="button primary" href="/suppliers/solutions/new">Add a Solution</a>
  </div>
  
  {{#if created }}
  <p class="created">Solution created successfully</p>
  {{/if}}
  {{#errors.general}}
  <p class="error">{{.}}</p>
  {{/errors.general}}
  

  <section class="solution-group">
    <header><h3>On-boarding in Progress</h3></header>
    <table class="solutions">
      <thead>
        <tr>
          <th class="name end-header">Name | Version</th>
          <th class="current-stage">Current Stage</th>
          <th class="stage-number">Stage no.</th>
          <th class="status">Status</th>
          <th class="notifications end-header">Notifications</th>
        </tr>
      </thead>
      <tbody>
        {{#each onboardingSolutions as |solution|}}
        <tr class="solution-row">
          <td class="name">
            {{#continueUrl}}<a href="{{.}}">{{/continueUrl}}
            {{name}} {{#if version}}| {{version}}{{/if}}
            {{#continueUrl}}</a>{{/continueUrl}}
          </td>
          <td class="current-stage">{{currentStage}}</td>
          <td class="stage-number">{{stageNumber}}</td>
          <td class="status">{{ computedStatus }}</td>
          <td class="notifications">
            {{> notification count = notificationCount}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>

  <section class="solution-group">
    <header><h3>Live In Marketplace</h3></header>
    <table class="solutions">
      <thead>
        <tr>
          <th class="name end-header">Name | Version</th>
          <th class="status">Status</th>
          <th class="contracts-signed">Contracts Signed</th>
          <th class="notifications end-header">Notifications</th>
        </tr>
      </thead>
      <tbody>
        {{#each liveSolutions as |solution|}}
        <tr class="solution-row">
          <td class="name">
            {{#continueUrl}}<a href="{{.}}">{{/continueUrl}}
            {{name}} {{#if version}}| {{version}}{{/if}}
            {{#continueUrl}}</a>{{/continueUrl}}
          </td>
          <td class="status">Accepting call-offs</td>
          <td class="contracts-signed">{{contractCount}}</td>
          <td class="notifications">
              {{> notification count = notificationCount}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</div>
