<div id="solution-page-preview" class="supplier">
  <!-- {{#if isPublished}}
  <div class="preview-header published">
    Page published.
  </div>
  {{else}}
  <div class="preview-header">
    Page preview. Unpublished.
  </div>
  {{/if}} -->
  <div>
    <h2>Build — All sections</h2>
    <p>
        Provide information to help buyers learn more about and evaluate your Solution. Preview your page below as you add sections. After publishing, you can submit further edits for moderation or unpublish your Solution. Note that sections without content will not be displayed on your Solution page. All text unless otherwise indicated will be displayed publicly. 
    </p>
  </div>


  {{> product-page}}

  <form method="POST">
    <div class="controls">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">

      <a class="button" href="{{editUrl}}">Edit</a>

      {{#if allowReview}}
      <input type="submit" name="action[review]" class="button primary" value="Submit for review">
      {{/if}}

      {{#if allowPublish}}
      <input type="submit" name="action[publish]" class="button primary" value="Publish to Catalogue">
      {{/if}}

    </div>
  </form>
</div>

<script>
  /* global Glide */
  new Glide('.glide').mount()
</script>