table.standards {
  border-collapse: collapse;
  color: $color-compliance-table-fg;
  width: 100%;

  tr {
    border-bottom: 2px solid $color-compliance-table-border;
    height: 3rem;

    td {
      &.name {
        width: 50%;
      }

      &.status {
        font-size: smaller;
        width: 30%;
      }

      &.owner {
        font-size: smaller;
      }
    }

    &.approved,
    &.submitted {
      td {
        &.status,
        &.owner {
          color: $color-compliance-table-good-fg;
        }
      }
    }

    &.rejected {
      td {
        &.status,
        &.owner {
          color: $color-compliance-table-bad-fg;
        }
      }
    }
  }
}

details.quick-links {
  color: $color-nhs-blue;

  ul {
    list-style-type: disc;

    li {
      margin: .25em 0 .25em 2em;
    }
  }
}

section p.callout,
fieldset.callout {
  background-color: $color-callout-bg;
  border: 0;
  color: $color-callout-fg;
  margin-top: 0;
  padding: 1.5em;
  width: 80%;
}

section > h3 {
  margin-bottom: .5em;
}