/*
 * catalogue-api
 *
 * NHS Digital GP IT Futures Buying Catalog API
 *
 * OpenAPI spec version: 1.0.0-private-beta
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using Gif.Service.Attributes;
using Gif.Service.Crm;
using Gif.Service.Models;
using Gif.Service.Services;
using Microsoft.AspNetCore.Authorization;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Swashbuckle.AspNetCore.SwaggerGen;
using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using System.Linq;
using Gif.Service.Const;

namespace Gif.Service.Controllers
{
    /// <summary>
    /// 
    /// </summary>
    [Authorize]
    public class CapabilitiesImplementedEvidenceApiController : Controller
    {
        /// <summary>
        /// Get all Evidence for the given Claim  Each list is a distinct &#39;chain&#39; of Evidence ie original Evidence with all subsequent Evidence  The first item in each &#39;chain&#39; is the most current Evidence.  The last item in each &#39;chain&#39; is the original Evidence.
        /// </summary>

        /// <param name="claimId">CRM identifier of Claim</param>
        /// <param name="pageIndex">1-based index of page to return.  Defaults to 1</param>
        /// <param name="pageSize">number of items per page.  Defaults to 20</param>
        /// <response code="200">Success</response>
        /// <response code="404">Claim not found</response>
        [HttpGet]
        [Route("/api/CapabilitiesImplementedEvidence/ByClaim/{claimId}")]
        [ValidateModelState]
        [SwaggerOperation("ApiCapabilitiesImplementedEvidenceByClaimByClaimIdGet")]
        [SwaggerResponse(statusCode: 200, type: typeof(PaginatedListIEnumerableCapabilitiesImplementedEvidence), description: "Success")]
        public virtual IActionResult ApiCapabilitiesImplementedEvidenceByClaimByClaimIdGet([FromRoute][Required]string claimId, [FromQuery]int? pageIndex, [FromQuery]int? pageSize)
        {
            IEnumerable<Evidence> evidences;
            int totalPages;

            try
            {
                var service = new CapabilitiesImplementedEvidenceService(new Repository());
                evidences = service.ByClaim(claimId);
                evidences = service.GetPagingValues(pageIndex, pageSize, evidences, out totalPages);

            }
            catch (Crm.CrmApiException ex)
            {
                return StatusCode((int)ex.HttpStatus, ex.Message);
            }

            return new ObjectResult(new PaginatedListIEnumerableCapabilitiesImplementedEvidence()
            {
                Items = evidences.ToList(),
                TotalPages = totalPages,
                PageSize = pageSize ?? Paging.DefaultPageSize,
                PageIndex = pageIndex ?? Paging.DefaultIndex,
            });
        }

        /// <summary>
        /// Create a new evidence
        /// </summary>

        /// <param name="evidence">new evidence information</param>
        /// <response code="200">Success</response>
        /// <response code="404">Claim not found</response>
        [HttpPost]
        [Route("/api/CapabilitiesImplementedEvidence")]
        [ValidateModelState]
        [SwaggerOperation("ApiCapabilitiesImplementedEvidencePost")]
        [SwaggerResponse(statusCode: 204, type: typeof(Evidence), description: "Success")]
        public virtual IActionResult ApiCapabilitiesImplementedEvidencePost([FromBody]Evidence evidence)
        {
            try
            {
                evidence = new CapabilitiesImplementedEvidenceService(new Repository()).Create(evidence);
            }
            catch (Crm.CrmApiException ex)
            {
                return StatusCode((int)ex.HttpStatus, ex.Message);
            }

            return StatusCode(204);
        }
    }
}
