
<div id="about-page">
    <div class="title-banner">
        <h1>{{t 'Support.Title'}}</h1>
    </div>
    <div class="about-content">
        <div class="nav-panel">
            <div class="nav-title">
                <h2>{{t 'Support.Nav Title'}}</h2>
            </div>
            {{#each (tt 'Support.Sections')}}
                <div class="nav-item">
                    <a href="#{{'Nav Title'}}">{{'Nav Title'}}</a>
                </div>
            {{/each}}
        </div>
        <div class="page-content">
            {{#each (tt 'Support.Sections')}}
                <h2 id="{{'Nav Title'}}">{{t Title}}</h2>
                {{#Text}}
                    <p>{{t .}}</p>
                {{/Text}}
                {{#Subsections}}
                    {{#if Custom}}
                        {{> (lookup . 'Custom') }}
                    {{else}}
                        <h3>{{t Title}}</h3>
                        {{#Text}}
                            <p>{{t .}}</p>
                        {{/Text}}
                    {{/if}}
                {{/Subsections}}
            {{/each}}
        </div>
    </div>
</div>