
<div id="home-page">
    <div class="welcome-banner">
        <h1>Introducing the NHS Store</h1>
        <p>More choices, better patient outcomes</p>
        <p>IT Suppliers may now apply to sell to the NHS from our store.</p>
        <a class="button">Learn More</a>
    </div>
    <div class="content">


        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <div class="cards container">
            <div class="card">
                <a href="#Bravo">
                    <div class="upper">
                        <h3>GP IT Futures Framework</h3>
                        <img src="/img/home-page/bullseye.png">
                    </div>
                    <div class="lower">
                        <div>View terms and details in Bravo.</div>
                        <div class="icon">&#8594;</div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#CapStd">
                    <div class="upper">
                        <h3>Capabilities & Standards</h3>
                        <img src="/img/home-page/checklist.png">
                    </div>
                    <div class="lower">
                        <div>View the model and new requirements.</div>
                        <div class="icon">&#8594;</div>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#login">
                    <div class="upper">
                        <h3>My Solutions</h3>
                        <img src="/img/home-page/padlock.png">
                    </div>
                    <div class="lower">
                        <div>Suppliers can log in to add new Solutions and manage all Solutions.</div>
                        <div class="icon">&#8594;</div>
                    </div>
                </a>
            </div>
        </div>


        <h2>How It Works</h2>
        <div class="steps container">
            <div class="step">
                <div class="upper"><span class="indicator">1</span></div>
                <div class="lower"><h3>Provide basic details and select Capabilities</h3></div>
            </div>
            <div class="step">
                <div class="upper"><span class="indicator">2</span></div>
                <div class="lower"><h3>Provide evidence for your Solution's Capabilities</h3></div>
            </div>
            <div class="step">
                <div class="upper"><span class="indicator">3</span></div>
                <div class="lower"><h3>Provide evidence for your Solution's Standards</h3></div>
            </div>
            <div class="step">
                <div class="upper"><span class="indicator">4</span></div>
                <div class="lower"><h3>Build your Solution Page (What Buyers will see)</h3></div>
            </div>
        </div>
    </div>
</div>