#add-edit-solution {
  margin: 0 auto;
  width: 80%;
}

#add-edit-solution fieldset {
  border: 0;  
}

#add-edit-solution form fieldset.collapsible {
  border: solid 2px var(--color-nhs-blue);
  border-radius: 3px;
  margin: 1em 0 0 0;
  padding: 2.5em 0 0 0;
  position: relative;
  overflow: hidden;
  min-height: 0.1em; /* for Safari, to give some intrinsic height */
}

#add-edit-solution form fieldset.collapsible > legend {
  background-color: var(--color-nhs-blue);
  color: var(--color-nhs-white);
  cursor: pointer;
  font-size: var(--font-size-subsubtitle);
  font-weight: 400;
  padding: 0.5em 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#add-edit-solution form fieldset.collapsible > legend a {
  color: var(--color-nhs-white);
}

#add-edit-solution form fieldset.collapsible .instructions {
  font-size: var(--font-size-body);
  font-weight: 300;
}
#add-edit-solution form fieldset.collapsible > .instructions {
  font-weight: 500;
  padding: 1rem 2.5rem;
}

#add-edit-solution form fieldset.collapsible > legend::before {
  content: '▲';
  position: relative;
  left: -0.5em;
}

#add-edit-solution form fieldset.collapsible.collapsed {
  border: 0;
  margin-bottom: 4em;
  padding: 0;
  overflow: visible;
}

#add-edit-solution form fieldset.collapsible.collapsed > legend {
  background-color: var(--color-nhs-white);
  border: solid 2px var(--color-nhs-blue);
  border-radius: 3px;
  color: var(--color-nhs-blue);
}

#add-edit-solution form fieldset.collapsible.collapsed > legend a {
  color: var(--color-nhs-blue);
}

#add-edit-solution form fieldset.collapsible.collapsed > *:not(legend) {
  display: none;
}

#add-edit-solution form fieldset.collapsible.collapsed > legend::before {
  content: '▼';
}

#add-edit-solution form fieldset .inputs {
  background-color: var(--color-nhs-pale-grey);
  padding: 0.1rem 2.5rem 1rem 2.5rem;
}

#add-edit-solution form label {
  font-size: var(--font-size-navigation);
  font-weight: 600;
  display: block;
  margin-top: 1em;
}

#add-edit-solution form label .required {
  color: var(--color-input-val-error);
}

#add-edit-solution form input[type=text],
#add-edit-solution form input[type=email],
#add-edit-solution form textarea {
  display: block;
  width: 95%;
  font-size: var(--font-size-body);
  padding: 0.5em 1em 0.5em 1em;
  margin: 0.1em 0 0 0;
  border: 2px solid var(--color-nhs-blue);
  border-radius: 2px;
}

#add-edit-solution form .has-errors input[type=text],
#add-edit-solution form .has-errors input[type=email],
#add-edit-solution form .has-errors textarea {
  border-color: var(--color-input-val-error);
  border-width: 2px;
}

#add-edit-solution form .errorlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: var(--color-input-val-error);
}

#add-edit-solution form ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#add-edit-solution form ul.validation-rules {
  list-style-type: disc;
  margin: 0.5em 0 0.5em 1.5em;
}

#add-edit-solution form ul.validation-rules li {
  font-size: var(--font-size-high-density);
  font-weight: var(--font-weight-high-density);
}

#add-edit-solution form p.instructions {
  font-size: var(--font-size-high-density);
  font-weight: var(--font-weight-high-density);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#add-edit-solution fieldset.contact.secondary {
  margin-bottom: 2em;
}

#add-edit-solution fieldset details {
  margin: 0.3em 0;
}

#add-edit-solution fieldset details summary {
  color: var(--color-nhs-blue);
}

#add-edit-solution .summary {
  background-color: var(--color-standout-bg);
  padding: .1em 1em;
}

#add-edit-solution .summary .counter,
#add-edit-solution .summary .counter * {
  font-size: var(--font-size-high-density);
  font-style: italic;
  font-weight: var(--font-weight-high-density);
}

#add-edit-solution .summary details {
  color: var(--color-nhs-blue);
  margin-bottom: 1em;
}

#add-edit-solution .summary details > :not(summary){
  font-size: var(--font-size-navigation);
  padding-left: 1em;
}

#add-edit-solution .summary > .capabilities ul,
#add-edit-solution .summary > .standards ul {
  list-style-type: none;
}

#add-edit-solution .summary > .capabilities details,
#add-edit-solution .summary > .capabilities li,
#add-edit-solution .summary > .standards li,
#add-edit-solution .summary > .capabilities li .optional {
  display: none;
}

#add-edit-solution .summary > .capabilities details.selected,
#add-edit-solution .summary > .capabilities li.selected,
#add-edit-solution .summary > .standards li.selected {
  display: block;
}

#add-edit-solution .summary > .capabilities li .optional.selected {
  display: inline;
}

#add-edit-solution .controls .primary {
  float: right;
}

#capability-popup-content {
  display: none;
}

#capability-popup {
  border: none;
  border-radius: 12.5px;
  box-shadow: 0 2.5px 2px 0 rgba(0, 0, 0, 0.5);
  font-size: smaller;
  padding: 2em;
  top: 5%;
  transform: none;
  width: 60%;
}

#capability-popup fieldset {
  border: none;
  padding: 0.5em 0;
}

#capability-popup ul {
  color: var(--color-nhs-blue);
  padding: 0 0 0 .5em;
  margin: .5em 0;
}

#capability-popup ul li {
  list-style-position: inside;
  padding-bottom: 0.25em;
}

#capability-popup h3 {
  margin-top: 0;
}

#capability-popup h4 {
  font-size: larger;
  margin-bottom: 0;
}

#capability-popup p {
  margin: .5em 0;
}

#capability-popup h5 {
  color: var(--color-fg);
  font-weight: 600;
  margin: 1em 0 0 0;
}

#capability-popup .interop ul {
  columns: 2;
}

#capability-popup .interop li {
  font-size: var(--font-size-high-density);
  font-weight: var(--font-weight-high-density);
}

#capability-popup .controls,
#capability-popup .select {
  text-align: center;
}

#capability-popup .select p {
  margin-bottom: 1em;
}

/* styling the popup's checkbox like a button when unchecked, and as a
   combination of a tick and unselect link when checked */
#select-capability {
  left: -10em;
  position: absolute; /* take it out of flow so the labels align correctly */
  opacity: 0; /* make it invisible but still accessible */
}

/* show the appropriate label only */
#select-capability:not(:checked) ~ label.checked,
#select-capability:checked ~ label.unchecked {
  display: none;
}

/* give the label the appearance of focus */
#select-capability:focus ~ label.unchecked,
#select-capability:focus ~ label.checked .remove {
  outline: 2px solid Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}

#select-capability ~ label.checked .selected {
  color: var(--color-nhs-dark-green);
  padding-right: 3em;
}

#select-capability ~ label.checked .remove {
  color: var(--color-nhs-blue);
  text-decoration: underline;
}

#capability-popup nav {
  position: absolute;
  top: -2em;
  left: 0;
  right: 0;
}

#capability-popup nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#capability-popup nav li {
  color: var(--color-bg);
  cursor: pointer;
  display: block;
  margin: 0;
}

#capability-popup nav li.previous::before {
  content: '\2B05'; /* LEFTWARDS BLACK ARROW ⬅︎ */
  display: inline-block;
  margin-right: 0.25em;
}

#capability-popup nav li.next::after {
  content: '\2B05'; /* LEFTWARDS BLACK ARROW ⬅︎ */
  display: inline-block;
  margin-left: 0.25em;
  transform: rotate(180deg); /* because BLACK RIGHTWARDS ARROW ➡︎ looks different */
}

#add-edit-solution.mobile h3 {
  color: var(--color-fg);
}

#add-edit-solution.mobile .is-mobile {
  margin-top: 0;
}

#add-edit-solution.review .counter {
  color: var(--color-nhs-blue);
  font-style: italic;
}

#add-edit-solution.review .counter+.button {
  display: inline-block;
  margin-left: 5em;
  text-align: center;
  width: 6em;
}

#add-edit-solution.review ul {
  list-style-type: none;
  padding: 0;
}

#add-edit-solution.review .capabilities-selected li {
  border-bottom: solid 2px var(--color-nhs-pale-grey);
  color: var(--color-nhs-blue);
  font-size: larger;
  padding: 0.5em 0;
}

#add-edit-solution.review summary:focus {
  outline: none;
}

#add-edit-solution.review .group {
  margin-bottom: 0.5em;
}

#add-edit-solution.review .group summary {
  color: var(--color-nhs-blue);
  margin-bottom: 0.25em;
}

#add-edit-solution.review .group li {
  font-size: smaller;
  padding: 0.25em 0;
}

#add-edit-solution.review .group li a {
  color: var(--color-nhs-blue);
  text-decoration: none;
}

#add-edit-solution h3.question {
  color: var(--color-fg);
}

#add-edit-solution .commercial-warning {
  background-color: var(--color-standout-bg);
  border-left: 5px solid var(--color-nhs-blue);
  color: var(--color-fg);
  font-size: var(--font-size-high-density);
  margin-top: 4em;
  padding: .5em 0 .5em 1em;
  position: relative;
  width: 80%;
}

#add-edit-solution .commercial-warning strong {
  background-color: var(--color-nhs-blue);
  color: var(--color-nhs-white);
  display: inline-block;
  font-size: larger;
  font-weight: 600;
  padding: 0.25em 1em;
  position: absolute;
  top: -1.5em;
  left: -0.5em;
}

dialog::backdrop {
  background: rgba(66, 85, 99, 0.8);
}
dialog + .backdrop {
  background: rgba(66, 85, 99, 0.8);
}
