#compliance {
  --font-size-main-standard: var(--font-size-navigation);
  --font-size-sub-standard: var(--font-size-navigation);
  --font-size-evidence: var(--font-size-button-label);

  --color-fg-main-standard: var(--color-nhs-dark-blue);
  --color-fg-sub-standard: var(--color-nhs-blue);

  --color-compliance-draft: var(--color-nhs-blue);
  --color-compliance-submitted: var(--color-nhs-dark-green);
  --color-compliance-feedback: var(--color-nhs-dark-red);
  --color-compliance-remediation: var(--color-nhs-dark-red);
  --color-compliance-approved: var(--color-nhs-dark-green);
  --color-compliance-rejected: var(--color-nhs-dark-red);
}

#compliance > .errors {
  background-color: var(--color-errors-bg);
  border: 0.2em solid var(--color-errors-fg);
  color: var(--color-errors-fg);
  margin-top: 0.25em;
  padding: 0.5em;
}

#compliance .standards h2 {
  margin-bottom: 0.5em;
}

#compliance .standards > section.standard {
  border-bottom: 2px solid var(--color-nhs-pale-grey);
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

#compliance .standards > section.standard {
  color: var(--color-fg-main-standard);
  font-size: var(--font-size-main-standard);
}

#compliance section.standard > .name {
  display: inline-block;
  width: 58%;
}

#compliance section.standard.interop > .name::before {
  color: var(--color-fg);
  content: 'Interop ';
  font-weight: bold;
}

#compliance section.standard > .status,
#compliance section.standard > .controls {
  display: inline-block;
  width: 19%;
}

#compliance section.standard > .status,
#compliance section.standard > .controls a {
  color: var(--color-compliance-draft);
  text-decoration: none;
}

#compliance section.standard.submitted > .status,
#compliance section.standard.submitted > .controls a {
  color: var(--color-compliance-submitted);
}
#compliance section.standard.feedback > .status,
#compliance section.standard.feedback > .controls a {
  color: var(--color-compliance-feedback);
}
#compliance section.standard.approved > .status,
#compliance section.standard.approved > .controls a {
  color: var(--color-compliance-approved);
}
#compliance section.standard.remediation > .status,
#compliance section.standard.remediation > .controls a {
  color: var(--color-compliance-remediation);
}
#compliance section.standard.rejected > .status,
#compliance section.standard.rejected > .controls a {
  color: var(--color-compliance-rejected);
}

#compliance #submitted {
  color: var(--color-standout-fg);
  margin: 2em auto;
  position: relative;
  width: 80%;
}

/* full-width background */
#compliance #submitted::before {
  background-color: var(--color-standout-bg);
  content: '';
  position: absolute;
  top: -8px;
  left: -50vw;
  width: 137vw;
  height: calc(100% + 20px);
}

#compliance #submitted > * {
  position: relative; /* otherwise inner text elements disappear */
  z-index: 1;         /* ensures that children appear above the background */
}

#compliance #submitted h3 {
  color: var(--color-standout-fg);
  font-weight: bold;
  padding-top: 0.5em;
  text-align: center;
}

#compliance #submitted h3::after {
  color: var(--color-nhs-dark-green);
  content: '✔︎';
  font-size: larger;
  padding-left: 0.5em;
}

#compliance.edit h3 a,
#compliance.edit .name a {
  font-size: smaller;
  text-decoration: none;
}

#compliance.edit h3 {
  color: var(--color-fg);
}

#compliance.edit .capabilities .name {
  color: var(--color-nhs-blue);
}

#compliance.edit .capabilities ul {
  list-style-type: none;
}

#compliance.edit fieldset.standard-evidence {
  border: 1px solid var(--color-nhs-blue);
  border-radius: 2px;
  margin: 1.5em 0 0 0;
  padding: 1.5em 1em;
  position: relative;
}

#compliance.edit fieldset.standard-evidence legend {
  width: 100%;
  background-color: var(--color-nhs-blue);
  color: var(--color-nhs-white);
  padding: 0.25em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#compliance.edit fieldset.standard-evidence.submitted {
  border-color: var(--color-compliance-submitted);
}
#compliance.edit fieldset.standard-evidence.submitted legend {
  background-color: var(--color-compliance-submitted);
}
#compliance.edit fieldset.standard-evidence.collapsed.submitted legend {
  background-color: transparent;
  color: var(--color-compliance-submitted);
}

#compliance.edit fieldset.standard-evidence.collapsed.feedback legend .status {
  color: var(--color-compliance-feedback);
}

#compliance.edit fieldset.standard-evidence.approved {
  border-color: var(--color-compliance-approved);
}
#compliance.edit fieldset.standard-evidence.approved legend {
  background-color: var(--color-compliance-approved);
}
#compliance.edit fieldset.standard-evidence.approved legend .status::after {
  content: ' ✔︎';
}

#compliance.edit fieldset.standard-evidence legend .name {
  padding-left: 1em;
}

#compliance.edit fieldset.standard-evidence legend .status {
  float: right;
  padding-right: 1em;
}

#compliance.edit fieldset.standard-evidence .in-assessment {
  background-color: #CDE1DA;
  margin: 0;
  padding: 0.1em 0;
  position: relative;
  left: -1em;
  text-align: center;
  top: 0.2em;
  width: calc(100% + 2em);
}

#compliance.edit fieldset.standard-evidence .in-assessment span {
  font-size: var(--font-size-help);
  font-weight: var(--font-weight-help);
}

#compliance.edit fieldset.standard-evidence h4 {
  color: var(--color-fg);
  font-size: var(--font-size-navigation);
  font-weight: bold;
  margin: 0 0 0.5em 0;
}

#compliance.edit fieldset.standard-evidence .requirements {
  font-size: var(--font-size-evidence);
  margin-top: 0.5em;
}

#compliance.edit fieldset.standard-evidence .evidence {
  background-color: var(--color-nhs-pale-grey);
  font-size: var(--font-size-evidence);
  padding: 0.5em 1em;
}

#compliance.edit fieldset.standard-evidence .evidence .editable {
  display: none;
}
#compliance.edit fieldset.standard-evidence .evidence .controls {
  display: inherit;
  position: relative;
}
#compliance.edit fieldset.standard-evidence .evidence .controls .edit {
  position: absolute;
  top: 0;
  right: 0;
}

#compliance.edit fieldset.standard-evidence .evidence.editing .editable {
  display: inherit;
}
#compliance.edit fieldset.standard-evidence .evidence.editing .controls {
  display: none;
}

#compliance.edit fieldset.standard-evidence .controls {
  margin-top: 0.5em;
}

#compliance.edit fieldset.standard-evidence .controls > .button:last-of-type {
  float: right;
}

#compliance.edit fieldset.standard-evidence input[type=text],
#compliance.edit fieldset.standard-evidence textarea {
  border: 1px solid var(--color-nhs-mid-grey);
  display: block;
  font-size: var(--font-size-input);
  font-weight: var(--font-weight-input);
  margin: 0.25em 0;
  padding: 0.25em 1em;
  width: 80%;
}

#compliance.edit .submissions {
  list-style-type: none;
  padding: 0;
}

#compliance.edit .submissions .submission {
  background-color: var(--color-message-bg);
  border-radius: 10px;
  color: var(--color-message-fg);
  font-size: var(--font-size-message);
  margin: 0 0 1em 0;
  padding: 1em;
}

#compliance.edit .submissions .submission .text,
#compliance.edit .submissions .submission .link {
  margin: 0 0 1em 0;
}

#compliance.edit .submissions .submission.assessment-team {
  background-color: var(--color-message-nhsd-bg);
  color: var(--color-message-nhsd-fg);
}

#compliance.edit .submissions .submission .metadata {
  font-size: var(--font-size-message-metadata);
  font-weight: var(--font-weight-message-metadata);
  margin: 0;
  text-align: right;
}

#compliance.edit .submissions .submission .metadata .originator {
  display: block;
}

#compliance.edit .submissions .submission .metadata .originator::before {
  content: 'Submitted By ';
}

#compliance.edit .submissions .submission.assessment-team .metadata {
  text-align: left;
}

#compliance.edit .submissions .submission.assessment-team .metadata .originator::before {
  content: 'Submitted by ';
}

#compliance.edit section.owner h4 {
  display: inline-block;
  margin-right: 2em;
}

#compliance.edit section.owner select {
  background-color: var(--color-bg);
  border: 1px solid var(--color-input-border);
  font-size: var(--font-size-input);
  font-weight: var(--font-weight-input);
  min-width: 50%;
  padding: 0.25em 1em;
}
