.registration-progress ol.progress {
  counter-reset: section;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: 1.5em auto;
}

.registration-progress ol.progress > li {
  position: relative;
  flex: none;
  counter-increment: section;
  font-size: var(--font-size-navigation);
  font-weight: var(--font-weight-navigation);
  color: var(--color-progress-text-fg);
  text-align: center;
}

/* TODO: seems I can have either the number vertically centered or
         the circle horizontally centered, but not both */
.registration-progress ol.progress > li::before {
  content: counter(section);
  display: block;
  border: 0.1em solid var(--color-progress-future-border);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin: 0 auto;
  color: var(--color-progress-future-fg);
  background-color: var(--color-progress-future-bg);
  text-align: center;
  vertical-align: middle;
}

.registration-progress ol.progress > li.active::before {
  border-color: var(--color-progress-current-border);
  color: var(--color-progress-current-fg);
  background-color: var(--color-progress-current-bg);
}

.registration-progress h1 small {
  color: var(--color-heading-small);
  display: block;
  font-size: var(--font-size-subsubtitle);
  margin-bottom: -0.25em;
}
