#supplier-solutions table.solutions {
  border-collapse: collapse;
  width: 100%;
}

div.notification-icon {
  /* display: flex; */
}

#supplier-solutions table.solutions td {
  font-size: var(--font-size-high-density);
  font-weight: var(--font-weight-high-density);
  color: var(--color-nhs-blue);
  padding: 0.25em 0;
  text-align: left;
  vertical-align: middle;
}

#supplier-solutions table.solutions th {
  font-size: var(--font-size-high-density);
  font-weight: var(--font-weight-high-density-bold);
  padding: 1em 0;
  text-align: left;
  vertical-align: middle;
}

#supplier-solutions table.solutions .solution-id {
  text-align: center;
  width: 20%;
}

#supplier-solutions table.solutions .name {
  width: 30%;
}

#supplier-solutions table.solutions .current-stage {
  width: 15%;
}

#supplier-solutions table.solutions .notifications {
  text-align: center;
  width: 15%;
}

#supplier-solutions table.solutions .contracts-signed {
  text-align: center;
}

#supplier-solutions table.solutions .status {
  width: 15%;
}

#supplier-solutions table.solutions thead {
  color: white;
  background: var(--color-nhs-blue);
}

#supplier-solutions table.solutions thead tr th.end-header {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

#supplier-solutions table.solutions thead tr th {
  padding: 1em;
}

#supplier-solutions table.solutions tbody tr td {
  padding: 1em;
}

#supplier-solutions table.solutions tbody tr td a{
  text-decoration: none;
}

#supplier-solutions table.solutions tbody tr td a:hover{
  text-decoration: underline;
}

#supplier-solutions table.solutions tbody tr:nth-child(even) {
  background-color: var(--color-nhs-pale-grey);
}

#supplier-solutions section {
  margin-bottom: 3em;
}

#supplier-solutions #dashboard-greeting a.button.primary {
  text-align: center;
  padding:0.2em;
  border-bottom: 1px solid black;
  font-size: var(--font-size-subsubheading)
}