{{#if errors}}
<section id="errors">
  <h2>To complete this page, resolve the following errors</h2>
  <ul>
    {{#errors}}
    <li id="error-{{param}}"><a href="#{{param}}">{{msg}}</a></li>
    {{/errors}}
  </ul>
</section>
{{/if}}

<h1>Solution Details</h1>
{{#> form}}
  <fieldset>
    <legend>Enter Solution name, description, version</legend>

    <label id="solution.name">
      Solution name
      <input type="text" name="solution[name]" value="{{solution.name}}"
        autocomplete="off"
        {{#if errors.[solution.name]}}aria-invalid="true" aria-errormessage="error-solution.name"{{/if}}>
    </label>

    <label id="solution.description">
      Description
      <textarea name="solution[description]"
        {{#if errors.[solution.description]}}aria-invalid="true" aria-errormessage="error-solution.description"{{/if}}>{{solution.description}}</textarea>
    </label>

    <label id="solution.version">
      Version
      <input type="text" name="solution[version]" value="{{solution.version}}"
        autocomplete="off"
        {{#if errors.[solution.version]}}aria-invalid="true" aria-errormessage="error-solution.version"{{/if}}>
    </label>
  </fieldset>

  <input type="submit" name="action[save]" value="Save">
  <input type="submit" name="action[continue]" value="Continue">
{{/form}}
