{{> errors}}

<header class="page-main-heading">
  <h1>{{t 'Onboarding.Details.Title' }}</h1>
  <h2>{{t 'Onboarding.Details.Subtitle'}}</h2>
</header>

{{#> form}}
  {{#> collapsible-fieldset legend="Onboarding.Details.Fieldsets.NameDescVersion.Legend"}}
  <p class="preamble">{{t 'Onboarding.Details.Fieldsets.NameDescVersion.Preamble'}}</p>

  <div class="control">
    <label for="solution.name">{{t 'Onboarding.Details.Fieldsets.NameDescVersion.Fields.Name.Label'}}</label>
    {{#if (tt 'Onboarding.Details.Fieldsets.NameDescVersion.Fields.Name.Validations')}}
    <ul class="validations">
    {{#each (tt 'Onboarding.Details.Fieldsets.NameDescVersion.Fields.Name.Validations')}}
      <li>{{.}}</li>
    {{/each}}
    </ul>
    {{/if}}
    <input id="solution.name" type="text" name="solution[name]" value="{{solution.name}}"
      autocomplete="off" aria-required="true" maxlength="60"
      {{#if errors.controls.[solution.name]}}aria-invalid="true" aria-errormessage="error-solution.name"{{/if}}>
  </div>

  <div class="control">
    <label for="solution.description">{{t 'Onboarding.Details.Fieldsets.NameDescVersion.Fields.Description.Label'}}</label>
    <p class="info">{{t 'Onboarding.Details.Fieldsets.NameDescVersion.Fields.Description.Info'}}
    {{#if (tt 'Onboarding.Details.Fieldsets.NameDescVersion.Fields.Description.Validations')}}
    <ul class="validations">
    {{#each (tt 'Onboarding.Details.Fieldsets.NameDescVersion.Fields.Description.Validations')}}
      <li>{{.}}</li>
    {{/each}}
    </ul>
    {{/if}}
    <textarea id="solution.description" name="solution[description]"
      aria-required="true" maxlength="300" rows="5"
      {{#if errors.controls.[solution.description]}}aria-invalid="true" aria-errormessage="error-solution.description"{{/if}}>{{solution.description}}</textarea>
  </div>

  <div class="control">
    <label for="solution.version">{{t 'Onboarding.Details.Fieldsets.NameDescVersion.Fields.Version.Label'}}</label>
    {{#> help-reveal
      title='Onboarding.Details.Fieldsets.NameDescVersion.Fields.Version.Help.Title'}}
      {{#each (tt 'Onboarding.Details.Fieldsets.NameDescVersion.Fields.Version.Help.Text')}}
        <p>{{.}}</p>
      {{/each}}
    {{/help-reveal}}
    {{#if (tt 'Onboarding.Details.Fieldsets.NameDescVersion.Fields.Version.Validations')}}
    <ul class="validations">
    {{#each (tt 'Onboarding.Details.Fieldsets.NameDescVersion.Fields.Version.Validations')}}
      <li>{{.}}</li>
    {{/each}}
    </ul>
    {{/if}}
    <input id="solution.version" type="text" name="solution[version]" value="{{solution.version}}" class="narrow"
      autocomplete="off" maxlength="10"
      {{#if errors.controls.[solution.version]}}aria-invalid="true" aria-errormessage="error-solution.version"{{/if}}>
  </div>
  {{/collapsible-fieldset}}

  <input type="submit"
    class="button primary"
    name="action[continue]"
    value="{{t 'Buttons.Save and continue'}}">
{{/form}}
<a class="back-link" href="../">{{t 'Onboarding.Details.Backlink.Title'}}</a>
