{{> errors}}

<header class="page-main-heading">
  <h1>{{t 'Onboarding.Capabilities.Title' }}</h1>
  <h2>{{t 'Onboarding.Capabilities.Subtitle'}}</h2>
</header>

<section class="preamble">
  {{#each (tt 'Onboarding.Capabilities.Preamble')}}
  <p>{{{.}}}</p>
  {{/each}}
</section>

{{#> help-reveal
  title='Onboarding.Capabilities.Help.Title'}}
  {{#each (tt 'Onboarding.Capabilities.Help.Text')}}
    <p>{{{.}}}</p>
  {{/each}}
{{/help-reveal}}

{{#> form form_id=activeFormId}}
  <fieldset id="capabilities-core">
    <legend>{{t 'Onboarding.Capabilities.Fieldsets.Core.Legend'}}</legend>
    <ul>
      {{#capabilities}}
      <li>
        <label>
          <input type="checkbox" name="capabilities[{{id}}]"{{#selected}} checked{{/selected}}
            {{#if @first}}id="capabilities"{{/if}}>
          <span class="name">{{name}}</span>
        </label>
      </li>
      {{/capabilities}}
    </ul>
  </fieldset>
  <fieldset id="capabilities-non-core">
    <legend>{{t 'Onboarding.Capabilities.Fieldsets.Core.Legend'}}</legend>
  </fieldset>

  <input type="submit"
    class="button primary"
    name="action[continue]"
    value="{{t 'Buttons.Save and continue'}}">
{{/form}}
