<div id="onboarding" class="dashboard page">

{{#if registrationComplete}}
<div class="callout">
  <h2 class="title">{{t 'Onboarding.RegistrationCompleteCallout.Title'}}</h2>
  {{#each (tt 'Onboarding.RegistrationCompleteCallout.Text')}}
  <p>{{{.}}}</p>
  {{/each}}
</div>
{{/if}}

<header class="page-main-heading">
  <h1>{{t 'Onboarding.Title' }}</h1>
  {{#if solution}}
  <p>{{t 'Onboarding.Subtitle.Existing'}}</p>
  {{else}}
  <p>{{t 'Onboarding.Subtitle.New'}}</p>
  {{/if}}
</header>

{{#unless solution}}
<div class="callout">
  <h2>{{t 'Onboarding.StartingCallout.Title'}}</h2>
  <p>{{{t 'Onboarding.StartingCallout.Text'}}}</p>
</div>
{{/unless}}

<ol class="onboarding-stages">
  {{#each (tt 'Onboarding.Stages')}}
  {{#with (lookup ../stages @index)}}
  <li{{#class}} class="{{.}}"{{/class}}>
    <h3 class="title">{{../Title}}</h3>
    {{#if url}}
    <p class="action">Status: {{status}}. <a href="{{url}}">{{link}}</a></p>
    {{/if}}
    <p class="narrative">
      <span class="name">{{../Name}}.</span>
      {{../Narrative}}
    </p>
  </li>
  {{/with}}
  {{/each}}
</ol>

<div id="supplier-guide">
  {{#> help-reveal
    title='Onboarding.Help.Title'}}
    {{#each (tt 'Onboarding.Help.Text')}}
      <p>{{{.}}}</p>
    {{/each}}
  {{/help-reveal}}
</div>

</div>